[2017-09-04 04:34] OmgImAlexis opened #2 "Feature Request - Allow key to add items on selection"
It'd be helpful if you could provide a key code that can be held to allow adding more items to the current selection similar to how [jQuery selectable works](https://jqueryui.com/selectable/).

[2017-09-04 08:30] ThibaultJanBeyer commented on #2
So you mean after the first selection, being able to add more items to the selection via a key.
That is a great idea! Which one would be a good pick in your opinion? I see that jQuery uses the CTRL key. Sadly on OSX, the CTRL key is triggering a right click. So that’s a bad pick. The most intuitive key is the `shift` key, isn't it?

[2017-09-04 09:04] OmgImAlexis commented on #2
On OSX I'd use control which is in the same place as ctrl.

[2017-09-04 09:15] ThibaultJanBeyer commented on #2
that is my point. Unfortunately, `ctrl` or `control` triggers a right click on OSX. I think you mean the command key `cmd`?
I’ll try with `shift`. I think that key is "free" (correct me if I’m wrong). It’s also the key used in native operating systems. Otherwise, I would have to detect the users operating system to switch between `ctrl` and `cmd`. Would like to avoid that.

[2017-09-04 09:38] OmgImAlexis commented on #2
Oh yeah I meant <kbd>command</kbd> I was looking at the wrong part of my keyboard. lol

 Maybe detect `event.ctrlKey` and `event.metaKey`? They should be <kbd>ctrl</kbd> on Windows and <kbd>command</kbd> on OSX.

[2017-09-04 10:12] ThibaultJanBeyer commented on #2
Unfortunately, it does not seem so…
`event.metaKey` (https://developer.mozilla.org/en-US/docs/Web/API/MouseEvent/metaKey):

And `event.ctrlKey` is the <kbd>ctrl</kbd> key on both os…

---

A solution is to make all four work the same: <kbd>shift</kbd>, <kbd>ctrl</kbd> & <kbd>command</kbd>/<kbd>windows</kbd>. Like that, windows/linux user can use <kbd>ctrl</kbd> (and the windows key) while mac will

[2017-09-04 10:35] OmgImAlexis commented on #2
Sounds good.

[2017-09-04 10:38] OmgImAlexis commented on #2
I found a tiny library that helps map both <kbd>ctrl</kbd> and <kbd>command</kbd>.

https://github.com/timoxley/keycode

[2017-09-05 12:12] ThibaultJanBeyer commented on #2
Done in v1.6.0
Related PR: #4

## Modifiers:
<kbd>shift</kbd>, <kbd>ctrl</kbd> & <kbd>command</kbd>/<kbd>windows</kbd>

[2017-09-05 12:12] #2 closed

[2017-09-18 09:47] emilv opened #6 "Scrolling when using `area` misaligns selection"
When using the `area` attribute and you scroll the document, the selection box gets misaligned.

![misaligned-dragselect](https://user-images.githubusercontent.com/1684914/30536704-25453852-9c67-11e7-978e-9218e0f96aa7.png)

[Codepen](https://codepen.io/anon/pen/gGaVOL) demonstrating the problem.

[2017-09-18 11:23] ThibaultJanBeyer commented on #6
Thanks a lot for letting me know!
Indeed the body scroll was miscalculating.
This should be fixed in version `1.7.9`.
Please pull the latest version and try again.
It should not produce any regression since I tested it thoroughfully but let me know if you find any.

[2017-09-18 11:23] #6 closed

[2017-09-18 11:35] emilv commented on #6
Yup, this solved the problem, thanks! I was just working on the same fix. You forgot to `git push`!

[2017-09-18 17:28] ThibaultJanBeyer commented on #6
Oh yes, pushed now.
PS: let me know when you are working on a fix already, so we don’t do work twice :)

[2017-10-01 08:48] divdax opened #8 "DragSelect overrides default behavior"
Hey,

If i use DragSelect to select some div elements links inside this div doesn't work anymore.
Maybe there should be a drag threshold?

[2017-10-04 07:23] zappzerapp commented on #8
I don't know how useful this is for you, but my little workaround is something like this:

`onElementSelect: function (element) {
    if ($('.ds-selector').height() === 0 && $('.ds-selector').width() === 0) {
        $(element).click();
    }
},`

[2017-10-04 09:47] zappzerapp commented on #8
I did a little workaround for solving this issue:

CSS:
[code]

JS:
[code]

[2017-10-11 10:06] ThibaultJanBeyer commented on #8
Hello @divdax. Thanks for opening an issue, I was on holidays the last days. Will have a look into this the upcoming days.
Would you be so kind to create an example of your issue? (use codepen for example) That would help a lot!
For now, thanks @zappzerapp for finding a quick fix 👍

[2017-10-12 11:16] ThibaultJanBeyer commented on #8
@divdax so I tried to reproduce your issue. I am not sure if I did it correctly but it seems that the behaviour you’re describing of links not working inside the draggable elements is not due to DragSelect but to the fact that you have links inside of <button> tags... Is that correct?

I added some code to address this issue, see [commit 096d4aa](https://github.com/ThibaultJanBeyer/DragSelect/comm

[2017-10-12 11:16] #8 closed

[2017-11-30 17:52] chipatooth opened #9 "Non intuitive behaviour when adding to a selection via a Command/Shift/Ctrl"
Nice library but I found one thing rather odd. I'm not sure if this is a bug or by design but I find that when I select an item then, hold down Ctrl or Command and drag select it deselects the original item if I drag over it.

You can reproduce this on your examples page:

1. Select any box (say #4)
2. Hold down Ctrl/Command
3. Drag select over all boxes including #4.

What happens:
1-3, 5-6 are s

[2017-11-30 18:49] ThibaultJanBeyer commented on #9
It is exactly the same behaviour as on native operating systems when using ctrl/cmd to select files. (at least on OSX)

However, the idea, with adding an option to turn that functionality off is probably a good idea.
If you feel confident you could give it a try and make a pull request. If not, I‘ll work on it asap.
Just please let me know.

[2017-11-30 21:44] chipatooth commented on #9
_"It is exactly the same behaviour as on native operating systems when using ctrl/cmd to select files. (at least on OSX)"_

That's kind of true: finder remembers your previous selection during a command+drag. What I mean is:

1. Open finder on OSX in a folder that has a bunch of files
2. Single select a file somewhere in the middle
3. Now somewhere below that file start a Command Drag up over that

[2017-12-05 14:22] ThibaultJanBeyer commented on #9
Hmm, that sounds more like a bug… Pardon me, but I’m still not sure that I understood it correctly, could you possibly make a video of the behavior with DragSelect tool?
So that I can reproduce it? That would be extremely kind.

For your convenience, you can use one of the Codepen examples, for example, this one: https://codepen.io/ThibaultJanBeyer/pen/prpwYG

On a Mac you can use "Quick Time Play

[2017-12-05 14:29] ThibaultJanBeyer commented on #9
Ah! I think I understood, when you selected elements, then select new elements with CTRL, hover an element then move out of that element the element is still selected, however it should be unselected? It’s quite hard to explain yes. Am I right?

If so, then yes, it seems more like a usability bug. If what I described is what you mean, then no need for a video. I’ll have a look into it as soon as p

[2017-12-31 15:07] ThibaultJanBeyer commented on #9
Happy to announce that this is solved in version 1.7.17. Related commit is https://github.com/ThibaultJanBeyer/DragSelect/commit/c9f85752ca82c7a5ad5ddaa18c47c3fdcef4846a
@chipatooth please update to the newest version and let me know if everything is as expected now.
Thanks again for using the tool and reporting issues 💯

[2017-12-31 15:07] #9 closed

[2018-01-18 10:27] RealTJ opened #10 "Error on getCursorPositionDifference"
If i use "getCursorPositionDifference" in the function "onElementSelect", it throws an error if i just click the element, without using the mouse. I think it does not have a current position, because i didn't move the mouse?

On of the objects is undefined, which is checked against:

[code]

You can replicate the issue here: https://codepen.io/T-J/pen/goQoaZ

[2018-01-18 10:57] ThibaultJanBeyer commented on #10
Hey RealTJ, thanks for using the tool and reporting the bug!

Yes, just by looking at your example, it seems as if the initial cursor position is missing when no drag was triggered before. It might be a good idea to set it to some default values if not available. Maybe x 0, y 0. What do you think?

Would need a deeper look into the code of course. If you feel confident enough, you can make a pull

[2018-01-18 11:01] RealTJ commented on #10
This makes sense, since that would solve the issue.

Never done that, but never hurts to try. I let you know if i can make the pull request :)

So far, i'm really liking your tool.

[2018-01-18 11:13] ThibaultJanBeyer commented on #10
Cool, let’s try that then 👍

_If you never did any PR before I can recommend you to watch [this tutorial](https://www.youtube.com/watch?time_continue=4&v=81uKcXZoQ2A) it explains everything regarding PRs._

Don’t hesitate to write me if you have any troubles.
Looking forward to your PR.

[2018-01-18 12:52] RealTJ commented on #10
Thanks for the video, it was very informative!

Pull request is now added, i hope my comment makes my decision on how i solved the issue clear.

[2018-01-19 10:20] ThibaultJanBeyer commented on #10
Thanks for reporting and fixing the issue! 💯

You could describe this second issue with the mouse not moving in a new issue and we can try to fix it. Probably this getDifference need some more work to be bulletproof :)

[2018-01-29 18:12] joao-m-santos opened #12 "Two consequent area selections mess up the area selection"
Hello,
This probably is a novice question or I must have messed something up myself, but nevertheless here's my issue:

When selecting an area by dragging over the target divs inside the designated area, everything works out fine, but if, after finishing this selection, I do the same, the area will get buggy and keep following my cursor until I click somewhere on the screen again.

Any ideas how I

[2018-01-29 18:38] ThibaultJanBeyer commented on #12
Hi @joao-m-santos thanks for sharing your issue and using the tool!

Unfortunately, I could not reproduce that issue locally. Would you be so kind to share your code. Or perhaps even better: share an example where your issue can be reproduced?
Feel free to fork any of the existing examples. For example this one: https://codepen.io/ThibaultJanBeyer/pen/Nvobgq

Otherwise, I won’t be able to help.

R

[2018-01-30 08:42] joao-m-santos commented on #12
Hello @ThibaultJanBeyer and thank you for your quick response.
I tried reproducing my issue on your Codepen but I couldn't, so I recorded a small video exemplifying what I was talking about. You can view it at https://drive.google.com/open?id=159ga7s0oorL3D54LaZOV8do34f-m--py

My guess is I'm selecting the text inside the target divs and then it messes up the selector JS.

Thanks a lot for your at

[2018-01-30 14:44] ThibaultJanBeyer commented on #12
Hmm, it’s kind of impossible to tell what is going on with just a video…
So please do the following:

1. To check your assumption with the text inside the targets: try to add the CSS `user-select: none;` to the text inside your targets (just to see if that makes any difference). Maybe this solves your issue already.

2. Open your console and check if there are any javascript errors if you do your

[2018-01-30 15:54] joao-m-santos commented on #12
I applied your first fix and it worked. I'm guessing it was an issue of trying to drag the selected text, hence the `not-allowed` state.
I had no console errors whatsoever, I was using Chrome in Windows 10 and I implemented it like
`var ds = new DragSelect({options});`

Thanks for your help,
Best rgrds

[2018-01-30 16:20] ThibaultJanBeyer commented on #12
I’m glad that setting `user-select: none` helped in your case! 👍

Does this solve your issue or do you want me to continue looking into it?

If so, please try to provide a code example where the issue can be reproduced because I did several tests on my side and could not reproduce it, even with selectable text inside of selectable elements. It did select the text but did not break the selection as

[2018-02-04 16:09] ThibaultJanBeyer commented on #12
So as it seems your issue is resolved. Closing it for now…

[2018-02-04 16:09] #12 closed

[2018-02-05 08:28] RealTJ opened #13 "getCursorPositionDifference Reports wrong Difference when clicking on a single Element"
When i select different Elements, one after another, getCursorPositionDifference does not report a Difference {x:0, y:0}, instead it reports an arbitrary amount.
You can reproduce the issue locally:

1. Add onSelectElement listener and console.log it's result.
2. Click on Element 1, expected {x:0, y:0} instead got {x: 28.25, y: 35.75}
3. Click on Element 2, expected {x:0, y:0} instead got {x: 91.2

[2018-02-05 09:41] ThibaultJanBeyer commented on #13
Ay, this is a bit tricky because if should have two different behaviours:

Expected behaviour for drag should be:
[code]

However, I’m not sure about singleclicks, shouldn’t it be:
[code]
right? This makes it quite complex…

Maybe this logic is too complex, I don’t know if there is a usecase were a user would need to record the difference between 2 independent clicks.

My suggestion is to forget a

[2018-02-05 16:21] RealTJ commented on #13
I had a use case for the single click (but it is very specific so i do not know if it even applies, i solved it different in the app).

The use case was that i had multiple selectboxes and i wanted an easy way to select multiple selectboxes, which the DragSelect is perfect for, because everyone who uses a computer knows how the selection rectangle works. But i already had a working path for single

[2018-02-05 20:06] ThibaultJanBeyer commented on #13
Hmm if it’s just about a way to detect whether it’s a drag or a single click, we should address that in another, separate PR. There are already two different handlers in the app `_onClick` for single clicks and a `_startUp` for selections. Would adding a new callback inside the single `_onClick` method to differentiate them do the trick? Could be named `onElementClick`. I think that makes sense to

[2018-02-08 09:20] RealTJ commented on #13
I will look into this issue with `onElementClick` later. I really like working with you on the project, it's really motivating.

I implemented `lastCursorPos`, but i'm not sure if i'm doing it correctly and need another pair of eyes. I have a separate Branch on my Fork, should i make a PR so you can look/test the functionality?

[2018-02-08 09:35] ThibaultJanBeyer commented on #13
And I really like that you are contributing, it’s a great help.
Yes please make a PR so I can check the code 👍

[2018-02-12 12:19] #13 closed

[2018-02-24 11:02] RealTJ opened #15 "Adding Unit Test"
Hey i thought about adding Unit Test before trying to debug more issues or bringing the Software forward.
I think it would help out to describe the intended behavior, of new functionality. That in turn makes it easier to communicate, what we wish to do (e.g. you could write a unit test that i could fulfill, or i could write a unit test which describes a bug etc.).

I researched a little bit and st

[2018-02-25 11:05] ThibaultJanBeyer commented on #15
Yes, tests would be amazing. This is something that would really help.

I think Functional tests would also be very very useful, however, the difficulty is on how to mock mouse dragging.

From the frameworks I used so far, my favourite was puppeteer. The only downside is, afaik, you can only test chrome, no other browsers. Or am I wrong?

You’re welcome to implement the testing strategy to your li

[2018-02-25 11:14] RealTJ commented on #15
Yes mouse movement can only simulated (as far as i know) in puppeteer which is an wrapper for chrome headless. It seems that Firefox has also a headless mode, but there are no wrapper libraries for it yet. This would make it easy to have an API that abstracts both puppeteer and Firefox.

What i would suggest is that we implement the functional test with Jest/Puppeteer and look what 2018 does for F

[2018-02-26 08:46] ThibaultJanBeyer commented on #15
Sounds great, looking forward for this :)

[2018-03-04 12:28] RealTJ commented on #15
Short update on this, i needed to replace the jshint package with eslint since jshint does not really support `async`/`await` but that is heavily needed to make the testing code with puppeteer look sane.

I based my decision mostly on this thread:
[Experimental Traceur features/ES7](https://github.com/jshint/jshint/issues/1939)

I used a tool called [polyjuice](https://github.com/brenolf/polyjuice

[2018-03-18 15:48] iceleo-com opened #16 "Have a trouble with click, double click event"
I can not bind the click event on the items (selectable items) in "area" element. I think the code will be stopped immediately, so it can not fire the event.

[2018-03-18 18:18] ThibaultJanBeyer commented on #16
Hi iceleo-com,

thanks for using the tool!
Unfortunately, I don’t really understand your issue. Would you mind adding some code of what you are trying to do? And maybe explain in more detail. Feel free to use one of the [codepens](https://codepen.io/ThibaultJanBeyer/pen/prpwYG).

Thank you.

[2018-03-19 14:19] iceleo-com commented on #16
Hi,

Yesterday, I had a issue with click event. But today, it works well, the code is same. I have create a sample code in codepens [https://codepen.io/iceleo/pen/Yapbqr](https://codepen.io/iceleo/pen/Yapbqr) to describe my code.

Thankyou.

[2018-03-19 15:48] ThibaultJanBeyer commented on #16
I can’t reproduce.

When I doubleclick, then the text get’s selected, yes. But that is a normal browser behaviour. Try double or trippleclicking this text for instance, the browser will select the word or the paragraph.
To turn this behaviour off, you can add `user-select: none` in your CSS. Don’t forget to add the Mozilla, Microsoft and Webkit specific prefixes (you forgot those in your example c

[2018-03-19 15:48] #16 closed

[2018-03-19 21:43] RealTJ commented on #15
No Problem, i was very busy the last two weeks, so i'm not so as far as i want to.

I managed to make one simple test, where i check if all the callbacks get called.
I'm not happy yet how the folder structure is, since i now have two test folder, one for the html tests `tests` and one for the actual jest tests `__tests__`.

The setup is actually pretty simple: I have a Webserver which provides an

[2018-03-20 09:31] ThibaultJanBeyer commented on #15
Yes, that is what I was saying, mocking the mouse and dragging and stuff is unfortunately extremely difficult :( … It would be nice to be able to get rid of the html manual tests and use automated ones, but not sure if that is even feasible with todays technology.

Sure, you’re welcome to make a PR

[2018-03-20 09:33] RealTJ commented on #15
Ok, it is not finished as of yet, but maybe you can look at it and see where it goes and give some feedback.

[2018-03-25 22:02] free-easy opened #18 "Weird behaviour when selectable items are disabled"
Hi,

first and foremost, thank you for this awesome library!

I've just noticed a weird behaviour:
when the selectable items are disabled sometimes there are lags when selecting them.

Browser: Google Chrome Version 63.0.3239.108 (Official Build) (64-bit)
Here the [codepen](https://codepen.io/free-easy/pen/KoXavG).

[2018-03-28 11:28] riless opened #19 "How to set multiselection as default behaviour (without using special keys)"

[2018-03-28 17:16] scoutw2p opened #20 "How to disable Ctrl+click default behavior"
I am using the jQuery.contextmenu library and am running into issues when ctrl+clicking (Mac). DragSelect seems to not respect the ctrl+click as a right click and is behaving as if I just left clicked the element, and clears my entire selection except for the clicked element. I have removed all multiSelect modifier keys from the init and the issue persists.

Any suggestions?

Sam

[2018-03-28 17:36] ThibaultJanBeyer commented on #19
Hey @riless, I’m really glad that you find the tool useful!

Being able to set the multiselection as default is not yet implemented but would make a good new feature.

If you feel confident enough, I would be very happy if you could contribute to the project and make a pull request to implement that feature. Here is how I would do it: I would add another property, like defaultMultiselect, or simil

[2018-03-28 17:43] riless commented on #19
@ThibaultJanBeyer Ok, I'll try to do that :)

[2018-03-28 19:12] free-easy commented on #18
Hey, thanks for your explanation.
By digging more into the problem I found out that there was no lag at all.
Simply, it seems that the `mouseover` (or something like this) event isn't available as well on disabled elements. Thus when I dragged quickly over the elements it seemed to be an instant of lag.

I'll redesign my app and avoid to use disabled element.

Thank you very much again!

[2018-03-28 19:12] #18 closed

[2018-03-28 19:41] ThibaultJanBeyer commented on #18
Ah yes, I see, thanks for the gif! It makes sense.
Indeed it seems to be a chrome specific issue where it stops propagation on disabled elements as it works fine in FF for example. As it seems to be a browser specific thing, I don’t think there is much I could do about it, unfortunately… Better try to avoid disabled elements.
Feel free to report any other issue/solution you come across.

[2018-03-29 09:58] ThibaultJanBeyer commented on #20
Hey @scoutw2p, thanks for reporting your issue.

Indeed DragSelect only checks for real right-clicks with the `isRightClick` method. <kbd>ctrl</kbd>+click is a fake right-click which was only implemented by Apple as a workaround for their weird ancient single-click mouses. In my opinion, implementing a <kbd>ctrl</kbd> check for right click in the tool itself is a bad idea since not every user is a

[2018-03-29 09:58] #20 closed

[2018-04-09 08:57] woutergovaert opened #22 "drag select freezes when edge is detected in area"
When drag select detects that it has run against the edge of the area in which it can operate it stops the selection of items. It would be nice that it would only limit the selection in the direction that is limited. For example when I drag up and it reaches the top area border I can't drag sideways anymore.

[2018-04-09 19:10] ThibaultJanBeyer commented on #22
Hey @woutergovaert ,
thanks a lot for using the tool!

Indeed that is the current behavior because the tool only listens to the mouse movements inside the area. Changing that behavior without breaking things or rewriting a lot is probably quite difficult. I’m not sure if it’s worth the effort. Would you mind explaining exactly your usecase and why it is relevant?

Thanks in advance.

[2018-04-14 16:29] sharperpixels opened #23 "dragging in a scrollable div"
Great library and thank you for building it!

I'm having an issue with drag selecting within a scrollable div. Safari 11 will scroll the div when you get to the edge, but the selected divs that get scrolled out of the parents viewport become unselected.

Chrome 65 doesn't scroll when I reach the edge of the parent div and neither does Firefox 57 so I can't test them.

Any ideas?

[2018-04-17 13:09] ThibaultJanBeyer commented on #22
I’m closing this one since I did not hear back from you.
So I guess that it is not critical. I’ll still keep it in mind for further development.

[2018-04-17 13:09] #22 closed

[2018-04-20 03:08] sharperpixels commented on #23
Hi ThibaultJanBeyer,

Thanks for making the CodePen as an example. I found out that if you don't set an "area" for the DragSelect, then scrolling beyond the div's viewport will cause the issue.

I've set the "area" on the DragSelect in my html and it's working as it should.

Thanks

[2018-04-20 09:30] ThibaultJanBeyer commented on #23
That is great to hear 👍 . I’m glad I could help. Now don’t forget to star this repo if you like the tool :)
Thank you

[2018-04-20 09:30] #23 closed

[2018-05-29 13:55] elmarti opened #24 "Ability to drag selected group"
**Is your feature request related to a problem?**
When drag selecting multiple elements in a form builder, I would then like to be able to drag them as a group
**Describe the solution you'd like**
I would like a callback for holding a continuous click on an individual element which is selected alongside numerous others

[2018-05-30 07:10] ThibaultJanBeyer commented on #24
Hmm, since there are already callbacks for continuous clicks, I’m not sure what you mean. Would you be so kind to elaborate your issue further? Thank you

[2018-05-30 08:02] elmarti commented on #24
Hi, thanks for the response, sorry for not being clear:

As a user, I want to be able to select multiple blocks, so that I can drag them as a group.

I'm currently working on a form builder where I'm looking to add the ability to (drag) select multiple form elements and then drag the selected group of elements as a group elements as a group.

The idea I have is kind of like this:
https://konvajs.g

[2018-05-30 08:52] ThibaultJanBeyer commented on #24
Hey @elmarti, thanks for clarifying. Yes. That is indeed a feature I intended to add. However, it is a lot of work and also a lot of code to add. Ideally functionality would be separated in separete plugins. I have a plugin for drag and drop functionality [dragNdrop](https://github.com/ThibaultJanBeyer/dragNdrop). dragNdrop unfortunately is only capable to handle a single element at a time for now

[2018-05-30 08:55] ThibaultJanBeyer commented on #24
I created a corresponding ticket inside [dragNdrop](https://github.com/ThibaultJanBeyer/dragNdrop/issues/4)

[2018-05-30 09:12] elmarti commented on #24
Great, I'll look into it and see if I can be of any help 😄

[2018-07-02 12:10] BenjaminVanRyseghem opened #26 "area parameter with a svg node"
**Describe the bug**
When I set the `area` parameter with a SVG node, the selection doesn't work anymore

**To Reproduce**
Have such a tree

[code]

[code]

**Expected behavior**
To be able to select node restricted to the #root element

**Desktop (please complete the following information):**
 - OS: MacOS
 - Browser FF nightly
 - Version 63.0a1 (2018-06-27) (64-bit)

[2018-07-03 12:51] ThibaultJanBeyer commented on #26
Hey Benjamin,

thanks for that very clean bug report.
Indeed that is a valid issue.

Do you feel confident enough to solve this? I would be very glad!
If not, just tell me and I’ll try to fix it.

Aside from that, how far did you advance with your first pull request?  (https://github.com/ThibaultJanBeyer/DragSelect/pull/25)
I think it is a huge improvement and would be very glad if it was mergeabl

[2018-07-20 22:56] ThibaultJanBeyer commented on #15
There is still a lot to do since the tests do not really cover a lot yet. However, I think you made a good starting point.

I’ll close this issue but that does not mean that we are done „adding Tests” which should be done on every change.

Then, once there is a good code coverage, having a look at a continuous integration workflow might also make sense.

Thanks again for raising this valid feature

[2018-07-20 22:56] #15 closed

[2018-07-26 03:58] psalmody opened #28 "Tap-drag for touch devices"
**Is your feature request related to a problem? Please describe.**
Touch functionality is non-existent

**Describe the solution you'd like**
Tap and drag would work exactly like click-drag

[2018-07-26 08:40] ThibaultJanBeyer commented on #28
Hey @psalmody thanks for creating that issue.
Indeed that seems to be a missing functionality.
Do you feel confident enough to implement it and create a pull request?
Thank you! 💯

[2018-07-26 13:08] psalmody commented on #28
@thibaultjanbeyer looking at the source, I think it's just a matter of adding event listeners for touch events where mouse events are happening?

I'll give it a shot but I'm not sure if I'll have a chance to do it in the next week or two.

[2018-07-26 13:41] ThibaultJanBeyer commented on #28
Awesome, that would be flawless, thank you! 👍
I’ll assign it to you, let me know if you need any help =)

[2018-08-12 16:55] n1crack opened #30 "resetSelectables() method."
Hey there,

I've just started using your library and it is awesome. Thank you for creating it.

Can you add **resetSelectables() ** method to the list ?

So instead of the codes below :
[code]

I would like to use it like this :
[code]

[code]

[2018-08-13 13:41] ThibaultJanBeyer commented on #30
Hey @n1crack and thanks for using the tool!

Would `resetSelectables` overwrite the current list of selectable with the node-list you’re passing as param?

If so, yes, a shorthand would be useful!
This should be straightforward to implement. Do you feel comfortable creating a Pull Request for that?
Please let me know, otherwise, I’ll implement it myself in the upcoming days.

For now, I think for

[2018-08-13 17:18] n1crack commented on #30
````this.selectable.selectables = this.getElements();````   it worked , thanks. 🍺

It is no urgent so im leaving it to you :)

Waiting for the future updates.

[2018-09-08 16:35] ciaoben opened #31 "How avoid to deselect a selected element when clicking on it?"
I need to insert right before an element in selected.

When I click on a selected element I need to avoid to "deselect" it under some circumstances.
How can I achieve this?

[2018-09-09 11:10] ThibaultJanBeyer commented on #31
Hey Ciaoben, thanks for using the tool. I'm currently on my honeymoon and thus not able to look into this. That should be possible somehow. Worst case you could re-add the element on unselection. I'll be able to help you out in 3 weeks. Until then please have a look at the documentation and let me know if you found a workaround. Thank you 😊

[2018-09-10 12:11] ThibaultJanBeyer commented on #31
Had a quick look at the documentation. I think what you are looking for is the `multiSelectMode` attribute. Set it to `true` and multiselection will be the default.

If you want to completely remove elements from the selectable list after selection, you can use a combination of `removeSelectables` and `onElementSelect`. Like so (pseudo code, not tested): `onElementSelect: function(element) { ds.re

[2018-09-10 12:11] #31 closed

[2018-09-16 00:48] analizapandac opened #32 "Are the Codepen examples supposed to be selectable and draggable or just selectable?"
I'm looking at the Codepen examples because I'm interested but I'm confused on what is the expected behaviour of the selected elements when you try to drag them.

Is it intentional that they are not moving when I try to drag them? Do I have to implement the re-positioning of the selected elements on drag or does the library does this by default?

[2018-09-16 01:27] ThibaultJanBeyer commented on #32
Hey there @analizapandac thanks for your interest!

This is a selection plugin only.

You can combine it with my other plugin called dragNdrop to create your desired effect. This however is a bit more tricky. I got your request once some time ago. I started writing a combination of both which is not open publicly yet tho'. As you are now the second person with that specific request, I'll try to sp

[2018-09-16 01:27] #32 closed

[2018-09-19 15:58] TerryKuan opened #33 "How to remove the dragSelect when page destroyed"
I use vue2.0 in the project. When I init a DragSelect instance,  the code is
[code]
And I put this in a FileList components (mx-filelist). When I link to a **page includes the mx-filelist**, the console show
![image](https://user-images.githubusercontent.com/20632132/45765103-c9047a00-bc66-11e8-810f-9a71c78e2aa7.png)
After that, I link to another **page which does not includes mx-filelist**. The c

[2018-09-24 16:12] ThibaultJanBeyer commented on #33
Hey @TerryKuan, and thanks for using the tool!

I don’t know much about Vue yet. However, I think I clearly understand your use-case. You would like to teardown `DragSelect` and remove all its event listeners, right?

Did you read the [documentation](https://github.com/ThibaultJanBeyer/DragSelect#methods) documentation? `DragSelect` has a `stop` method which can be used to remove all listeners and

[2018-09-24 16:12] #33 closed

[2018-09-25 18:17] n1crack commented on #30
It works. ty.

[2018-09-26 19:14] n1crack commented on #24
Can you add a

[2018-09-27 06:34] walterra opened #34 "1.8.1 on npm but not on github"
First, thanks for doing DragSelect, it's a great library!

Just a note and for lack of a better place filing an issue here:

I just noticed by coincidence by looking at the code on master there is a `setSelectables` method in version `1.8.1` but couldn't find the version when I looked at https://github.com/ThibaultJanBeyer/DragSelect/releases — so I thought it wasn't released yet and in the works.

[2018-09-27 07:01] ThibaultJanBeyer commented on #34
Thanks for the kind words and for using the tool!
I forgot about it. Thank you for the reminder :)

[2018-09-27 07:01] #34 closed

[2018-09-27 19:34] n1crack commented on #24
hey..

how can I prevent reset selection on mousedown event ? I want to keep my selection and after that make a condition between dragging and starting selection.

I made it this far.  but couldn't find a way to keep my selection.. when pressing mousedown .5sec it starts dragging, and stops DragSelect. (and also resets selection :( ) I want to keep my selection in that .5sec. of course it can rese

[2018-10-01 11:46] ThibaultJanBeyer commented on #24
Yes, that’s quite difficult because how can you know if someone wants to move the files or to set a new selection?

I can think of some hacky way like on a selection callback setting a break for new selection or stopping the functionality. Something like this:

[code]

In your code, you would have to somehow detect that the user wants to `move` the selection instead of reselecting then using `ds.s

[2018-10-01 14:43] elmarti commented on #24
In this instance I would expect a new selection to not be set when the event target is one of the `selectables` nodes. In that instances it should allow the dragging of the selectable elements.

[2018-10-01 15:15] n1crack commented on #24
what about selection on mouseup and mousemove event instead of mousedown? mousedown clears the selection directly which makes impossible to get current selection.

I want to make a timeout on mousedown event
[code]
and clear it on mousemove event
[code]

[2018-10-01 16:06] plufz opened #35 "Scrolling by clicking and dragging does not work"
**Describe the bug**
Scrolling by clicking and dragging does not work in Chrome and Firefox - or rarely works, one time I got it to scroll in Firefox. Works fine in Safari though. I tried a couple values in autoScrollSpeed (1, 3, 100) but it didn't make any difference.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codepen.io/anon/pen/qJdgNg
2. Click and drag outside or til th

[2018-10-02 12:57] ThibaultJanBeyer commented on #35
Hey, what do you mean by *almost*? When doesn’t it work?
Do you have a code example or so?

[2018-10-02 13:10] plufz commented on #35
Of course! It does not work in Chrome when "area" is set. Works in Safari though.

Example: https://codepen.io/anon/pen/qJdgNg

[2018-10-02 14:27] ThibaultJanBeyer commented on #35
Yes, setting the `area` to the body is a bad idea because the overflow is not on the body element but on the document element. Also the body `tag` behavior varies heavily between browsers.

[2018-10-03 08:03] ThibaultJanBeyer commented on #24
Ok guys, based on your request I’ve added `onDragStartBegin` callback so you can do the following:
[code]
Which solves your specific use-case. I know that it’s not ideal, but it will unblock you for now.

[2018-10-03 09:33] plufz opened #36 "Clicking scrollbar removes selection"
**Describe the bug**
Just first wanted to say that I have made a hack to circumvent this bug for me, so I'm fine. I just wanted to report this, so you know of it. Close it if you don't want to fix it.

But clicking the scrollbar when you have a selection removes the selection.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codepen.io/anon/pen/qJdgNg
2. Make a selection
3. Clic

[2018-10-03 14:13] n1crack commented on #24
Can we remove
this.checkIfInsideSelection(true);
from _startUp(mousedown) function. And add it to mouseup event? That’s what I need I think.

Currently I’m dragging selected items with alt+click and selecting with only left click. But I think It is better to make it activate dragging  by holding left mouse in certain time

[2018-10-04 09:53] plufz commented on #35
Hi. Sorry to say but this bug is back in 1.9.1. :-) I have given you a star though!

So drag-scrolling works in version 1.9.0, but not 1.9.1 (in Chrome).

[2018-11-14 11:30] ThibaultJanBeyer commented on #36
@13Nunes nope. That is the normal behavior for a selection. If you select something on your operating system, then click somewhere else, the selection is lost. If you had read the readme, you would have seen that there is a `multiSelectMode` property to change the behavior.

What @plufz is reporting is something different. He’s stating that the selection get’s lost when clicking on the scrollbar.

[2018-11-14 13:19] 13Nunes commented on #36
It makes sense. Thanks for you answer.
I have implemented something different [here](http://www.be-br.com/institutounibanco/#/perception-game-stage-1) because this UX is better to mobile phones.
I recommend it with a new feature.

[2018-12-05 20:48] jlindberg-oss commented on #36
@ThibaultJanBeyer great library, thank you for making.

I also noticed that even when you click on a button inside the area, you lose the selection.
This is true even if you do `event.stopPropagation()` inside the button's click handler.

After reading the code I added the following workaround with works for me:
[code]

Is there any other setting that I missed or is that the only way?  If not I th

[2018-12-09 21:06] #28 closed

[2019-04-04 09:50] Martin-Eckleben opened #37 "1.11.3 .stop() fires callback"
Im using npm module dragselect 1.11.3

When .stop() ing the dragselect in the callback js dies in an endless loop:
https://codepen.io/Exxenmann/pen/eoJPNZ

Im trying for example to end "selection mode" (.stop() ing it) after the selection is complete.

Ill try to solve it starting in about six hours (after work) and file a pull request if I can.

Am I just stupid / trying something oviously wrong

[2019-04-04 13:20] Exxenmann commented on #37
.stop() seems to fire callback which is described as "fired once the user releases the mouse. (elements) = selected nodes."

On first sight I think this is not intuitive/right?
Am I missing something?

[2019-04-04 13:55] Martin-Eckleben opened #38 "1.11.3 .stop() does not cancel all functionality"
If I call .stop() all functionality is gone as it should be.
But if I afterwards click a selectable element all functionality is "restored".

https://codepen.io/Exxenmann/pen/gyPVaW

Will file a pull request if/when I solve it.

[2019-04-04 21:57] ThibaultJanBeyer commented on #38
Hey there Exxenmann and thanks for reporting! I would be very happy on a PR. Thank you.

[2019-04-05 04:09] Exxenmann commented on #38
Sorry yesterday was too busy but today starts the weekend and I will hopefully be able to solve it.

"Thank you."
No thank you for this great library :)

[2019-04-05 07:45] Exxenmann commented on #38
For readers whith same issue until PR is solved:
Should be solved in pull request #39

[2019-04-05 07:45] Exxenmann commented on #37
For readers whith same issue until PR is solved:
Should be solved in pull request #39

[2019-04-10 20:12] ThibaultJanBeyer commented on #38
I had a look at it. As it seems there is logic missing in the `stop` method to remove the `click` event listener on the `_addSelectable`. Nice catch!

[2019-04-10 20:13] ThibaultJanBeyer commented on #37
Yup, makes sense, since `stop` will call `reset` which itself triggers the callback. Definitively a bug! Thanks

[2019-04-15 16:37] #38 closed

[2019-04-15 16:37] #37 closed

[2019-04-15 19:58] ThibaultJanBeyer commented on #36
Hey @jlindberg-oss, that is expected behaviour. You’ll have to either use the workaround you did, or create your own Class-mixing and override the `startUp` method to your likings or to place your buttons that should not clear the selection *outside of the area*.

[2019-04-15 19:59] ThibaultJanBeyer commented on #36
Just fixed the scrollbar bug in version `1.12.2`

[2019-04-15 19:59] #36 closed

[2019-07-09 21:46] paulrosen opened #41 "Add text-editor-like selection mode."
**Is your feature request related to a problem? Please describe.**
I have a set of buttons arranged in rows, and intended to be traversed just like reading text: That is, first row, left to right, second row, left to right, etc. The selection should include all the buttons between those two, but they won't be covered by a rectangle.

**Describe the solution you'd like**
When clicking on the first

[2019-07-10 14:54] ThibaultJanBeyer commented on #41
Hi @paulrosen thanks for using the tool and thank you for this issue.

I'm not sure if I understood your request correctly could you please provide a mocked example?

If I assume that you want to select elements without showing the selection, you can already do that. Have a look at the documentation: https://thibaultjanbeyer.github.io/DragSelect/DragSelect.html . There is a parameter called `custo

[2019-07-10 15:46] paulrosen commented on #41
I thought about this more and started experimenting, so I know what I want now, I think. It looks like I can get what I want using:
[code]
I can then figure out what region was selected first and which region was selected most recently and do my own logic.

So, it is a little sloppy using internal variables of DragSelect, but that will allow me to evaluate my feature.

It would be nice to return t

[2019-07-11 00:22] paulrosen commented on #41
A little more of an update: I have a working version in my code by using `onDragMove` and calculating which button `dragSelect._initialCursorPos` and `dragSelect._newCursorPos` are under. That is working great. I was thinking it might be useful to add that as its own callback, though. Something like:
[code]
I pretty much have that code already if you think it would be useful to contribute back.

[2019-07-12 15:58] ThibaultJanBeyer commented on #41
Hey there, thanks for the updates. Do you mind sharing your example so I can understand how you are using the tool and how to help you. Maybe also share how you are calculating the `onDragMove` please maybe there is a better way already.
Thank you

[2019-07-15 16:07] paulrosen commented on #41
My code isn't particularly separable from the app, but here are some snippets that should give you an idea. I'm sure what I'm doing is not at all efficient, but it's fast enough:
[code]

[2019-07-17 14:17] paulrosen commented on #41
I found two bugs in the above code so far:
1) If the area auto scrolls while dragging, the _initialScroll value isn't the right one to use to calculate what item I'm on.
2) When clicking with the keyboard instead of the mouse, the _initialCursorPos value isn't set.

[2019-07-17 20:00] ToastHammer09 commented on #26
I've been playing around and I think I found the solution.

SVG won't display the selector box that is being generated within the SVG tags.

There is a property you can pass in to set a custom selector however you have to set its style with .ds-selector and change its parent tag to be relative in CSS.

I've modified your example to work:
[code]

[code]

This has lead me onto these related bugs.
-

[2019-07-21 11:24] ThibaultJanBeyer commented on #26
Hey @ToastHammer09 thanks for providing the solution.

What you did is almost similar to what I would do. Actually I would recommend to just have the containing DIV as the Area like so:

[code]
[code]

But that is just a monkey patch. It does not solve the issue with SVG properly. The problem is that HTML can not be written inside SVG. There is a solution using a [foreignobject](https://developer.

[2019-07-25 10:01] ThibaultJanBeyer commented on #41
It’s really hard to tell how to help you because I still don’t understand what you are trying to do.

One thing tho’ you’re using private methods a lot. It’s suggested to use non-private methods (you can differenciate them with the underscore. Private methods are prefixed with `_` non-private don’t) this is because there is no long-term support for private methods and they might change at any time

[2019-07-25 10:01] #41 closed

[2019-07-25 14:40] paulrosen commented on #41
Sorry, my work around did the trick so I dropped the ball on this. Here is what I came up with:

![measure-selection](https://user-images.githubusercontent.com/69818/61883388-5b4d5e00-aec8-11e9-9379-c0e4c2a5570a.gif)

There are invisible buttons on top of each measure. You'll notice that the selection is not rectangular.

[2019-07-26 06:59] ThibaultJanBeyer commented on #41
Ah, I see.
For that it seems to me that you just need to override/hide the CSS styles with the parameter called `customStyles` which will remove all styles applied by default to the selection, so you can set your own in CSS. No need to touch any internals of the tool.
It looks very nice btw. :)

[2019-11-17 05:01] ovsexia opened #44 "I love this project. It's so great!"

[2019-11-18 22:38] ThibaultJanBeyer commented on #44
Thank you! This message made my day! =)
Please consider showing your love by sponsoring us https://www.paypal.com/pools/c/8gF2a5szCP thank you <3

[2019-11-18 22:38] #44 closed

[2019-12-31 02:04] waveheart opened #46 "Expect method getSelection return DOM Array, but return list of classes"
**Describe the bug**
the document
[code]

my result:

[code]

**To Reproduce**
[code]

**Expected behavior**
Expect method getSelection return DOM Array

**Screenshots**
![image](https://user-images.githubusercontent.com/25602259/71607477-da9c3780-2bb4-11ea-86f3-8f9523064e56.png)

[2019-12-31 02:12] #46 closed

[2019-12-31 02:13] waveheart commented on #46
sorry .....im stupid!

[2020-01-01 19:30] ThibaultJanBeyer commented on #46
No problem, happens to the best of us :D
Thanks for using DragSelect :+1:

[2020-01-15 05:02] ladifire opened #47 "Does this work with contenteditable"
As my title, please demo with item that has contenteditable=true, that allow user edit item (prevent drag select when item has contenteditable=true). thanks

[2020-01-15 20:07] ThibaultJanBeyer commented on #47
Hi Ladifire,

first, thank you for using the tool and writing your issue. I'm not sure if I understood you correctly. Do you mean that tags with the contenteditable attribute will break the funktionality of DragSelect? If so, are you so kind to link that demo you are referring to?

Thank you!

[2020-02-05 16:37] nastakhov opened #48 "Select all items between two Shift- clicks"
Thank you for the wonderful library!

Can you please provide me direction with how to tackle my problem.

I need to be able to select all items between two of them - first one and last.
Scenario: user shift-clicks on first item, then shift-clicks on last and all items in between become selected.

Maybe this is already implemented and I'm missing something.

[2020-03-04 08:57] deser opened #49 "selectables must accept selection string\array of strings"
**Is your feature request related to a problem? Please describe.**
I'm having app which adds new elements on selectable area. To not-reinitialize selection every time it would be nice to pass to DragSelect just selectors I want to be selected

**Describe the solution you'd like**
selectables: ['.items']

[2020-03-15 10:58] ThibaultJanBeyer commented on #49
Dear @deser, first, thank you for using the tool!
Sorry for the late response, due to corona everything was delayed.

Now I don't really understand the feature request, would you mind to clarify?
You can already pass the items you want using `selectables: ['.items']` ? That would work.
If you want to add more later on there is `addSelectables()`.

Have a look at [the docs](https://thibaultjanbeyer

[2020-03-15 10:59] ThibaultJanBeyer commented on #49
I'm closing it for now, if that's not what you were talking about, let me know and we can re-open the issue ticket :)

[2020-03-15 10:59] #49 closed

[2020-03-15 10:59] ThibaultJanBeyer commented on #47
Closing this due to inactivity. If it's still an issue, please write a comment and we can re-open the issue.

[2020-03-15 10:59] #47 closed

[2020-03-15 11:06] ThibaultJanBeyer commented on #48
Hi @nastakhov and thank you for using the library!

No that's not possible, currently the user would have to click and drag with the mouse while holding shift.

I think this would be difficult from the library to do. I can keep this as an investigation ticket and have a look if I've time. If you want you can also give it a try of course?

For now you can just use the [`onElementSelect`](https://th

[2020-04-05 19:23] bxchang04 opened #51 "Uncaught TypeError in Chrome"
**Describe the bug**
In Chrome, console reads "ds.js:226 Uncaught TypeError: Failed to execute 'getComputedStyle' on 'Window': parameter 1 is not of type 'Element'.
    at DragSelect._handleArea (ds.js:226)
    at new DragSelect (ds.js:207)
    at dragSelect.js:1
_handleArea @ ds.js:226
DragSelect @ ds.js:207
(anonymous) @ dragSelect.js:1"

...for both CodePen examples when running them locally on

[2020-04-05 19:37] bxchang04 commented on #51
FYI I found out this issue is caused when DragSelect is installed via NPM and also called locally in my HTML file using <script>js/ds.min.js</script>. I chose to use the non-minified version so that the console message would show me the correct line that was causing this error.

[2020-04-05 19:43] bxchang04 opened #52 "Code Pen example (drag select with region) has glitches when copied locally -- no console messages, can't select boxes, and some CSS not working"
**Describe the bug**
After installing and emulating the https://codepen.io/ThibaultJanBeyer/pen/Nvobgq/ codepen, I get a region with all items stacked on top of each other on the top left of the region. The items are not selectable. (Ps: In my other issue, at least the top item was selectable. See other issue I opened today #51).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://

[2020-04-05 19:44] bxchang04 commented on #51
I've updated my repo. To reproduce, please download the project, install DS via npm, then open "test1.html"

[2020-04-06 08:20] ThibaultJanBeyer commented on #51
Dear @bxchang04,

thank you for using DragSelect, that's great! 💪

I've just opened your example and it seems to work fine?
See [this screen capture video](https://we.tl/t-5QK1idFe6B) (available for 1 week from now)

However, I noticed that you had some very basic typos/issues in your code:

- You have to add the DragSelect script first *before* loading the scripts with your own code. Otherwise, i

[2020-04-06 08:20] #51 closed

[2020-04-06 12:42] bxchang04 commented on #51
Thanks! Fixing the typos did the trick. Pardon me as I am very new to web dev.

However for some reason the CSS isn't working. My boxes are still overlapping and not in random positions. Any idea what's causing this?

https://codepen.io/bxchang04/pen/GRJbVyq

[2020-04-06 12:49] bxchang04 commented on #24
I'm currently also in need of this feature. Will see if I can get it working for my app. If there's any way I can contribute to this project I'd be glad to do so as well. Is anyone currently working on this feature?

[2020-04-06 12:53] bxchang04 commented on #52
Fixed it problem above by adding to my HTML file:
<script src="js/ds.js"></script>

...just above JS script call
<script src = "js/dragSelect2.js"></script>

However my console messages are not appearing in my browser.
![image](https://user-images.githubusercontent.com/42091866/78560373-06e2d800-77e4-11ea-8f21-87a7b8c1bdc1.png)

[2020-04-06 17:24] bxchang04 commented on #52
update: codepen example has console.log messages for selection, but when I run this code locally, I do not get those messages.

[2020-04-07 06:48] ThibaultJanBeyer commented on #52
Hi @bxchang04 and thanks for using DragSelect!

As it seems you forgot to add the DragSelect library. To add a library you've to click on the cogwheel in JS tab and then add the library. See screenshot:
![Screenshot 2020-04-07 at 08 28 55](https://user-images.githubusercontent.com/12467511/78637080-f4cb6d00-78a9-11ea-9062-99f41582fa5e.png)

And your CSS is not working because in my example I used

[2020-04-07 06:48] #52 closed

[2020-04-07 07:02] ThibaultJanBeyer commented on #52
And thanks a lot for your donation <3
As you're the first person that ever donated, would you like to be mentioned on the readme page?

[2020-04-07 07:09] ThibaultJanBeyer commented on #24
Yes I'm working on it. It's not an easy one tho' it's a big task and between work and home there is not much time, I fear that you'll have to be patient :/
Maybe you can combine it with [DragNDrop](https://github.com/ThibaultJanBeyer/dragNdrop) library for now. That should work and is also kinda how I would solve it

[2020-04-07 08:57] elmarti commented on #24
As the original creator of this issue, I thought i'd share 2 solutions I've come up with in the past 2 years. Although this is a great library, I ended up making something custom for the very specific use cases.

**Overlaying**
Creating an overlay which sits on top of the selected elements, containing an anchor to drag and other options relating to the group selection.
**Benefits**
- The selected

[2020-04-08 13:22] bxchang04 commented on #52
No offense at all. I actually recently completed the Web Dev Full Stack immersive course with CareerFoundry, but they clearly didn't help me go in depth enough with CodePen. Can't thank you enough.

As for my local project, I don't get any console messages but I assume that's because I haven't installed or implemented SASS? I've used SASS once before in a project so please confirm if this is my is

[2020-04-08 13:23] bxchang04 commented on #52
*gitter, not gitterly

[2020-05-01 09:18] ThibaultJanBeyer commented on #24
Man how fast time flies :O

@elmarti thanks a lot for your input. In fact, it's exactly the two solutions I also thought of! 👍

Yes, the overlay is also what we used in our company in combination with DragSelect. I think it's the easiest solution. But from the usability, I would prefer the second solution! Because the intention of DragSelect is to mimic the native os drag solution in your OS and t

[2020-05-01 14:28] alextate4 commented on #24
I don't understand how to check for elements in the selection. After I figure that out, how can I wrap them in an SVG `<g></g>` tag ?

[code]

I am using the [plain-draggable](https://github.com/anseki/plain-draggable) library. I can switch to your library but I want to keep constraints for objects that were worked into his library like this:

[JS FIddle Lines 3-18](https://jsfiddle.net/atate4/efo

[2020-05-27 09:18] JonFabritius opened #53 "Option to pass two-finger touch gestures through to browser for scrolling"
**Is your feature request related to a problem? Please describe.**
When an area containg selectables exceeds the viewport, no method for scrolling the view without selecting exists on touch devices. Using one finger to scroll the view results in elements being selected.

**Describe the solution you'd like**
Google Maps embeds have solved this by having a two finger drag for scrolling the map area.

[2020-06-07 23:42] born2net opened #54 "Is it possible to change the color of drag selection from blue to red?"
Is it possible to change the color of drag selection from blue to red?
Thanks

Sean

[2020-06-08 09:18] ThibaultJanBeyer commented on #54
Hi there Sean and thanks for using DragSelect!

Yes of course that is possible. It is as simple as using CSS.
- The selection has the `.ds-selector` Class ([as written in the docs](https://github.com/ThibaultJanBeyer/DragSelect#classes)) which you can style however you want.

Have Fun!

[2020-06-08 09:18] #54 closed

[2020-06-08 13:32] born2net commented on #54
THANKS, Love your project!

[2020-08-11 01:13] PandaPandaPanda opened #56 "Don't know how to use this plugin. please help!"
This plugin looks really good first of all!

But when I am using it, I keeps getting the error:
`TypeError: Failed to execute 'getComputedStyle' on 'Window': parameter 1 is not of type 'Element'.`

//=============
I apologies, that was my mistake

[2020-08-11 14:57] #56 closed

[2020-09-21 09:30] lcollazo-ilovepdf opened #58 "Allow alternative behavior for MultiSelectMode"
**Is your feature request related to a problem? Please describe.**
If you have already items selected and you press Shift key to enter multiSelect mode, I want to add new selected elements without deselecting the ones that are already selected.
Currently programmed behavior in the library will deselect items if in multiSelect mode if they are selected. This behavior is the same that happens when y

[2020-09-21 11:18] lcollazo-ilovepdf commented on #53
A possible (and easy) solution could be adding a flag (i.e called multiSelectToggle that defaults to true) and in the **_handleSelection** function take into account the value of this variable.

[2020-09-21 11:18] lcollazo-ilovepdf commented on #58
A possible (and easy) solution could be adding a flag (i.e called multiSelectToggle that defaults to true) and in the _handleSelection function take into account the value of this variable.

[2020-09-23 16:44] ThibaultJanBeyer commented on #58
Hi @lcollazo-ilovepdf thanks for this well described feature request and for using the tool!

Just to unblock you: It's not perfect (as it will keep it as soon as you touch it) but this should work:
[code]
Let me know if that un-blocked you.

For a generic solution, I like your idea with the flag (multiSelectToggle). If you want, go ahead and create a PR for this, it would be a good addition and m

[2020-09-23 16:52] ThibaultJanBeyer commented on #53
Hi @JonFabritius thanks for your input and thanks for using DragSelect!

I understand the problem but I'm not sure about the proposed solutions. As you wrote yourself, the two finger solution is not ideal.
Adding a button to "enable selection" sounds like a very good solution. This however is not the responsability of DragSelect in my opinion and should not be part of the tool itself. It is someth

[2020-09-23 16:52] #53 closed

[2020-11-04 10:39] Crystal-RainSlide opened #60 "Format the code in readme"
GitHub limit the width of page contents to 1280px and then the width of main content to 936px, Which make the comments of example code hard to read by the Horizontal scrolling. Cap the line length to about 100 will stop the scrolling for Consolas:

[code]

Feel free to ask for a PR instead, or reject.

[2020-11-04 16:48] ThibaultJanBeyer commented on #60
Hi @Crystal-RainSlide 👋 thanks so much for using the tool!

Your recommendation makes sense, I'm not sure how you'd cap the comments tho' but happy to see your PR and review it :)

[2020-11-04 19:04] Crystal-RainSlide commented on #60
1. Check the monospace font list GitHub used
2. Consolas must be the widest one
3. Copy the visible part of a overleng line and paste into any thing that counts char numbers
4. Got 102
5. manualy re-place the comments, set the line cap to 100, deal with long lines

[2020-11-05 20:27] #60 closed

[2020-11-07 13:30] owenfar opened #63 "Drag select autoscroll keeps scrolling past area height"
**Describe the bug**
As discussed in https://github.com/ThibaultJanBeyer/DragSelect/pull/59#issuecomment-722656112 .. Drag select autoscroll keeps scrolling past the maximum area height. You can see this clearly below:

**Screenshots**
![autoscroll-bug](https://user-images.githubusercontent.com/25148235/98442419-c6926200-2104-11eb-9ab9-430ba1154914.gif)

**To Reproduce**
Create a scrollable div as

[2020-11-07 16:11] ThibaultJanBeyer commented on #63
Dear @owenfar thanks again for pointing this out 👍

If you want to fix it yourself I'd probably go like this:
- check how to get the max scroll of the area
- check how to make sure that the max scroll is reliable
- check on how to identify where either the cursor or the selection is
- if cursor/selection is above max scroll, clear the `this._autoScrollInterval` within `_setScrollState`

If you don

[2020-11-09 14:53] slinhart commented on #63
Hey @ThibaultJanBeyer I can likely take a look at this sometime this week. I can't say I've noticed this issue yet though; is it reproducible with the testing environment brought up with `npm start`?

[2020-11-09 15:08] slinhart commented on #63
Never mind, I see the issue 👍

[2020-11-09 19:44] slinhart commented on #63
The cause of the issue seems to be that the selector element is being rendered beyond the bounds of the container, causing the `area` to have it's scrollHeight/scrollWidth expanded. Notice that for this issue to be reproduced you have to drag the cursor outside of the scrollable container.
Perhaps there needs to be a check in _updatePos to make sure the the selector won't be rendered in a what tha

[2020-11-09 20:09] ThibaultJanBeyer commented on #63
We may just stop the `_autoScrollInterval` if it expands the area in case that's easier? Otherwise yeah probably in _updatePos. Just have to make sure that it works in all occasions :O

[2020-11-09 20:45] owenfar commented on #63
Hey @slinhart & @ThibaultJanBeyer, just to leave my thoughts. I think it would be great if when a dragSelect happens inside such an area, we can keep it scrolling all the way down even when the mouse is outside - this is the same behavior we currently have on our OS. Is it difficult (since we're on this issue) to make the dragSelect stick to the mouse position, even when outside the area, but have

[2020-11-10 06:31] ThibaultJanBeyer commented on #63
That might actually be impossible in the browser :/

[2020-11-10 06:47] ThibaultJanBeyer commented on #63
I was thinking about this. Maaayybe, we could try instead of placing the selection element inside of the area, we'd create a new area with `overflow hidden` that has the same sizes and position as the area and place the selection in there but still handle it as if it was inside of the provided area. Not sure if that's feasible tho'. It's definitively not easy and in this case, it's more something

[2020-11-10 07:47] owenfar commented on #63
That sounds great @ThibaultJanBeyer. I'm already very happy with the new updates, and I will be looking forward for v2 whenever it comes :) Thank you

[2020-11-14 22:45] liam-wiltshire opened #65 "Calculate the percentage of each element covered by the select marquee"
**Is your feature request related to a problem? Please describe.**
I've recently had a use-case where I only wanted to select the most significant element covered by the select marquee - while selecting it was likely the other 'neighbour' elements might catch and edge or a corner, but I wanted to find the element that was the 'focus' of the select attempt. The most logical solution I could come up

[2020-11-22 17:35] ThibaultJanBeyer commented on #65
Hi @liam-wiltshire 👋

Thanks a lot for sharing your use-case and using DragSelect! That is indeed a very interesting feature request.
Currently, we just use Axis-Aligned Bounding Box Collision Detection. Might make sense to change that to be able to define how much % of the element has to be covered before it is actually selected.

As the aim of DragSelect is mainly to replicate OS selection behav

[2020-12-13 14:47] ThibaultJanBeyer commented on #24
Just FYI, you probably by now, have your own workaround but I started to work on this.

There is still **a lot** to do, so since this is my free-time it'll still take a while, but here is a sneak-peek for you to enjoy :D

![dragselect_move](https://user-images.githubusercontent.com/12467511/102015095-c0be1b00-3d59-11eb-9172-fe4d32278e28.gif)

I can't say any specific date but I aim to release it a

[2020-12-20 18:36] ThibaultJanBeyer commented on #24
**Quick Update**

- The mouse interaction seems now to work fine
- Added keyboard interaction for accessibility:
![dragselect_keyboard](https://user-images.githubusercontent.com/12467511/102721332-70ffc680-42fa-11eb-986c-5c50a2d0c741.gif)

Next up:
- Add various automatic tests for that new functionality but also conduct some manual testing in various browsers and also mobile
- Fix bugs that are f

[2021-01-05 14:09] #24 closed

[2021-01-05 14:09] #26 closed

[2021-01-05 14:09] #63 closed

[2021-01-05 14:35] #58 closed

[2021-01-06 10:29] Xumochuan opened #72 "Dragselect2.0.0 error with npm start"
**Describe the bug**
Thanks for your great lib.
I updated package to v2.0.0 today, and run npm start.
I got this issue.

Hope your kind contact
Thanks

**Screenshots**
![image](https://user-images.githubusercontent.com/47884397/103756867-ebdf1600-504a-11eb-92ed-72a4fe63c9e8.png)

**Env**
 - Angular v11
 - Node 14.15.4

[2021-01-06 14:16] ThibaultJanBeyer commented on #72
Hi Xumochuan! Thanks for opening the issue.
Hmm, that is pretty interesting. Let me try to reproduce it.

[2021-01-06 14:42] ThibaultJanBeyer commented on #72
I was able to reproduce the issue.
It had to do with residue in the `gitignore`.
It should be fixed in `v2.0.1` please check

[2021-01-06 14:56] #72 closed

[2021-01-06 14:56] ThibaultJanBeyer commented on #72
Let me know if it's not resolved, we can re-open

[2021-01-06 14:59] ThibaultJanBeyer opened #73 "Won't drag if element is not immediate mouse target"
**Describe the bug**
Won't drag if element is not immediate mouse target

**To Reproduce**
Steps to reproduce the behavior:
1. Click on an element that is not immediate click target
=> Element can't be dragged

**Expected behavior**
Element should be draggable

**Additional context**
- Tested in react start app when adding the img as draggable
- This is due to the check: `!_this.DS.SelectableSet.h

[2021-01-07 07:43] ThibaultJanBeyer commented on #73
Ok my bad, this happened because I selected an item that had `pointer-events: none` 🤦
Generally, it's recommended to use buttons. In that case, the target seems to always be the button.
However, there is still an issue that the elements require a relative position for dragging that don't use css transforms. I'll address that.

[2021-01-07 09:16] #73 closed

[2021-01-07 14:43] plotpoi opened #75 "keep aspect"
Thank you for the wonderful project.
Is it possible to maintain the aspect ratio by grouping?

Specifically, when the edge is crossed, all items in the group will have a distance of 0 from the edge.
<img width="462" alt="スクリーンショット 2021-01-07 23 39 15" src="https://user-images.githubusercontent.com/48230911/103905439-f4fede80-5141-11eb-86b7-26fc84d81201.png">
→
current
<img width="322" alt="スクリーンショ

[2021-01-07 16:27] ThibaultJanBeyer commented on #48
This request was open for >10 months and did not get any substantial amount of votes. As mentioned you're able to calculate it yourself. So I'm closing it for now. Feel free to still contribute and add that functionality as an addition to the project as I'm not opposed to it.

[2021-01-07 16:27] #48 closed

[2021-01-11 03:35] littlePig-zzf opened #76 "Expect to be able to set the default selected value."
**Describe the bug**
I have a appointment time requirements，In addition to the addition of the ability to edit, currently the component does not appear to be able to set the default selected value，So don't know how to fix the default.

**To Reproduce**
Steps to reproduce the behavior:
1. New selection for appointment time.
2. View booking times for details.
3. Edit Appointment Time.
4. Unable to s

[2021-01-11 06:38] Xumochuan opened #77 "Mobile view: selection and dragging is not working well"
**Describe the bug**
Hi. thanks for the great lib!
In mobile view, selection and dragging is not working correctly. (a few times, it seems working). Please look at this video.
Also, when drag items, selection event is also triggered (only mobile view).
https://ttprivatenew.s3.amazonaws.com/pulse/mochuan-video/attachments/15715842/TinyTake11-01-2021-02-31-53.mp4

Looking forward to hearing from you

[2021-01-12 08:22] ThibaultJanBeyer commented on #76
Dear @littlePig-zzf I believe you opened your issue on the wrong library? DragSelect is a selection + drag-drop library. It has nothing to do with calendars, appointments or time. I'm closing this, if you can provide information that your bug is related to DragSelect, please let me know.

[2021-01-12 08:22] #76 closed

[2021-01-12 16:52] ThibaultJanBeyer commented on #77
Dear @Xumochuan, thanks a lot for using the tool!

I watched the video but I don't really see what is not working from the video. Could you please elaborate on that?
I was also not able to reproduce the selection being triggered on drag.

Can you please share more information? i.e. which device you are using and what do you mean by "not working correctly"?

[2021-01-12 16:55] ThibaultJanBeyer commented on #75
Hi @plotpoi thank you for using the tool and sharing your wish :)
I'm opening this for vote. Please share your use-case.
If you want it faster, feel free to try it immediately and open a pull request with your changes!

[2021-01-12 17:20] Xumochuan commented on #77
Hi,
I checked it in your codepen example of Demo.
https://codepen.io/ThibaultJanBeyer/pen/prpwYG

Please play a bit in codepen
Thanks

[2021-01-17 14:32] Marcel50506 opened #78 "TS types are out of date (still on version 1.13.1)"
There is no Types information available for the newest version of your library. When npm installing '@types/dragselect', I get types of version 1.13.1, while the library is already at 2.0.2.

The types definitions (of 1.13.1) are located here: https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/dragselect

I'm not sure if you are maintaining this, or if someone else is, but I want

[2021-01-18 17:41] ThibaultJanBeyer commented on #78
Hi, looks like those types were created by someone else, I did not know that they exist. If you look at the project you linked, you can see that they were created by IceCreamYou. Greetz

[2021-01-18 17:41] #78 closed

[2021-02-19 11:21] hazemelgamal opened #80 "What is the equivalent to .break() in v2?"
.break() was removed in v2. It used to disable the execution of the upcoming code without tearing down the functionality.

This was a very important method when you want to disable the dragselect functionality temporarily,  what is the equivalent method in v2 to achieve the same thing?

Thank you!

[2021-02-19 11:33] ThibaultJanBeyer commented on #80
Hi @hazemelgamal !
Thanks so much for using DragSelect 💪

I was not aware that it's even used/useful and it was complicating the migration, but does not mean we can't have it :)

Could you please share your exact use-case and where you used the `.break()` functionality, then I can have a closer look whether you can use something else or whether it makes sense to add break back again.

Thank you!

[2021-02-19 11:41] hazemelgamal commented on #80
@ThibaultJanBeyer Thanks for the quick response!

.break() was extremely important that removing it is preventing me from upgrading to v2.

The use case is simple, I'm using another library to drag and drop the same items that can be selected by DragSelect. When an item is being dragged/moved by the other library, I was using the break() method to temporarily disable DragSelect.

Of course the new

[2021-02-19 12:00] ThibaultJanBeyer commented on #80
Hi thanks for the quick answer. The aim is to replace the other library in the long run. Would you mind sharing the features that you're missing or in what sense it's limited?

[2021-02-19 13:39] hazemelgamal commented on #80
The other library is https://gridstackjs.com. I don't think it's a good idea to assume that you can replace other libraries, it limits DragSelect and there's no way you can develop every feature from every other library. Focus on the core of DragSelect, that's just my two cents.

I would appreciate if you can bring back the break method. Thanks for your support!

[2021-02-19 15:09] ThibaultJanBeyer commented on #80
It was a request that had a lot up-votes and people wanting to have a combination of selection and drag and drop (DND) I do think it's possible to have both in one and I also believe that there is a benefit having an integrated solution.
Have you tried the integrated DND solution? Could you please be more specific on what feature gridstack offers that you would need in order to use the integrated

[2021-03-22 12:55] musicog opened #82 "Selection rectangle invisibly extends to top-left of screen when selecting SVG elements in Firefox >= v83"
**Describe the bug**
Working with SVGs of musical score, generated by [Verovio](https://verovio.org):
When clicking-and-dragging to select notes (i.e., "note"-class elements in the SVG), the browser correctly draws a matching selection rectangle; but the *actual* selection rectangle invisibly extends to the top-left corner of the screen. This means additional, non-intended elements are added into

[2021-03-26 12:27] Fu7ure opened #83 "draggability doesn't disable dragKeys"
First things first: Thanks for this sweet plugin!

**Describe the bug**
I'm working on an application, where I've implemented DragSelect using `draggability: false`. Since I now want to use the arrow keys for other events, I noticed that the arrow keys still move the elements around and I need to additionally set `dragKeys: { up: [], down: [], left: [], right: [] }` to prevent this. Since I think

[2021-03-26 13:08] ThibaultJanBeyer commented on #83
Hi Fu7ure thanks a lot for raising this and using the tool! That is indeed a bug. If you feel confident a PR to fix this would be very much appreciated :)

[2021-03-26 13:23] Fu7ure commented on #83
Hi Thibault,
thanks for the quick response!
No problem. But since I'm quite stressed right now because of exams and moving out, It could take a bit.
If you (or someone else) didn't fix it till I got some time at hand, I'll gladly do it.

Cheers!

[2021-04-14 12:08] guettli opened #85 "Stable version via CDN"
It would be nice to get the nice library via a well known CDN.

[2021-04-19 07:32] ThibaultJanBeyer commented on #85
Hi Guettli, thank you for this message, I def. agree, do you have some suggestions?

[2021-04-19 18:25] guettli commented on #85
[htmx](//htmx.org) uses this: https://unpkg.com

[2021-04-20 09:43] aaditya9 opened #86 "Dragselect works locally but not on deployed versions."
**Describe the bug**
I am using Dragselect 1.15.1.  Can see warnings Dragselect is deprecated on deployed versions, but locally can not see any warnings and it works fine.
I am open to upgrading my dragselect version but would like to get this issue resolved beforehand.

**Expected behaviour**
It should work on both local and production or not work at all.

**Desktop (please complete the following

[2021-04-26 05:47] ThibaultJanBeyer commented on #85
Nice, just read the documentation, seems straight forward, just:

I'm currently overflown by work, would you like to contribute to the project by adding it to unpkg?

[2021-04-26 05:51] ThibaultJanBeyer commented on #86
Hi @aaditya9 thanks a lot for using the tool 🤗

DragSelect 1.15.1 is a lot of versions behind. We're at version 2+ already

Unfortunately, I'm not able to give you any support for this old version.
Please upgrade, feel free to let me know if you need any help with your upgrade.

Have a lovely day =)

[2021-04-26 05:51] #86 closed

[2021-05-26 04:58] lchtao26 opened #90 "Methods: ds.removeSelectables doesn't remove the seletable elements"
Hi, Thibault, really appreciate your work on dragselect, it's easy to learn and use! As I'm using it on my project, I found the `ds.removeSelectables` doesn't work as I expect.

**Describe the bug**
ds.removeSelectables doesn't remove the seletable elements

**To Reproduce**
Steps to reproduce the behavior:
[codepen  demo](https://codepen.io/lchtao26/pen/dyvRjeq?editors=1111)

1. Init a ds instanc

[2021-05-26 06:46] ThibaultJanBeyer commented on #90
Hi @Ichtao26 and thanks for the kind words!

You're right, it seems that there is a bug. That code does not seem correct:
- First, it should be selectableset, as you mentioned.
- Second it should probably not be clear all as you don't want to remove all of them but only the elements you pass in.

I'm currently super busy so I'd be happy if you'd have a try to fix it and I can review the PR.
Otherw

[2021-05-26 07:29] lchtao26 commented on #90
Glad to receive your feedback, I'll fork and try to submit a PR

[2021-05-26 15:14] #90 closed

[2021-05-26 15:20] ThibaultJanBeyer commented on #85
I just checked because I wanted to add **but** the tool is already in unpkg:
i.e. https://unpkg.com/dragselect@2.0.2/dist/DragSelect.js
Closing for now. Am I missing something here?

[2021-05-26 15:54] ThibaultJanBeyer commented on #90
Your changes are live now in version `2.0.3`. You've joined the club of contributors and have been mentioned in the changelog. This means whenever we get [donations](https://github.com/ThibaultJanBeyer/DragSelect#supporters), those are split among contributors.

But don't get your hopes too high, unfortunately, no one donates anything for open source ever, we have like 6€ total, which is somewhat

[2021-05-26 15:59] ThibaultJanBeyer commented on #82
Hi @musicog and thank you for reporting this. I was not able to reproduce the issue you mentioned or at least I don't understand it even tho you made great efforts trying to explain it. It seems to be very edge-casy.

How about google hangouts or something to walk over your issue in person?

[2021-05-27 10:51] musicog commented on #82
Hello @ThibaultJanBeyer - delighted to hear from you, and thanks for the very kind offer! It is an edge-case, but it's *my* edge-case :-). And affects a number of different music informatics research applications which have been built around our [selectable score](https://github.com/trompamusic/selectable-score) component, that all now have annoying Chrome requirements because of this issue.

Very

[2021-05-27 11:54] lchtao26 commented on #90
Whether there is a return or not, it is enjoyable to do something for open-source project. It's my pleasure to contribute to the new version!

[2021-06-04 11:16] shash7 opened #92 "Feature: Don't change dom"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
I'm using this inside a vue component. Everything works nicely, however I can see that classes are added to the selectable items.

**Describe the solution you'd like**
An option to not change the dom would be good.
For now I think the libra

[2021-06-04 11:17] shash7 commented on #92
PS: Great library, way better than vue-select

[2021-06-06 13:57] diomedtmc opened #93 "Publish Types for TypeScript"
**Is your feature request related to a problem? Please describe.**
There is another package trying to support types for this package, but it is out of date:  https://www.npmjs.com/package/@types/dragselect

**Describe the solution you'd like**
Please just include types with your package so they are well maintained and up-to-date.

**Describe alternatives you've considered**
Use the out of date pac

[2021-06-06 14:37] diomedtmc commented on #93
Maybe just drop an index.d.ts into the distribution package.  This is a quick mock up of the repo I mentioned above with some of my own edits to try and glue the recent updates together:

[code]

[2021-06-06 18:28] diomedtmc opened #94 "Please provide an option to clean up the DOM when stop() is called."
**Is your feature request related to a problem? Please describe.**
Cannot tear down the selectable area with a React hook lifecycle.  (ie - unmount).

**Describe the solution you'd like**
I'd like to be able to call a DragSelect (stop) method, and have it clean up the DOM for me, rather than me do it myself.

**Describe alternatives you've considered**
I query the DOM for the actual DragSelect ds-

[2021-06-06 19:13] diomedtmc opened #95 "Similar to setSelectables, please provide a setArea"
**Is your feature request related to a problem? Please describe.**
My entire selectable area might change, not just the selectables within it.  Since I cannot correctly tear down the DragSelect DOM (at the moment), I would like to manage this through singletons; however, if I remove my scrollable area from the DOM, I can't reset the scrollable area on the Singleton instance.

**Describe the soluti

[2021-06-07 06:19] ThibaultJanBeyer commented on #94
Hi again 👋

Yes, you're right we probably forgot to also remove the elements on teardown. The `stop` only handles even listeners I think!
Great finding.

Same here, would you want to give it a try? That'd be very much appreciated!

Either that the `stop` method also removes DOM elements and the `start` one also creates them? Or a separate teardown.

Thank you @diomedtmc 🤗

[2021-06-07 06:24] ThibaultJanBeyer commented on #93
Hi @diomedtmc ideally they would be generated. Maybe there is something like a typescript generator for JS-Docs? Should be feasible. And in the long run prob. write the project in typescript. The reason I chose not to for 2.0 was that 1. I assumed it'd be easier to contributors in JS since TS is yet "another" language. 2. The auto-generated TS docs were pretty bad and not comparable to js-doc. May

[2021-06-07 12:41] diomedtmc commented on #93
Hi @ThibaultJanBeyer,

Thank you for considering this request.  You know, I honestly don't know how that linked package gets generated, but it looks like it is almost a year behind 😄 .  I do almost exclusively TypeScript these days, so I am only really familiar with going in the TypeScript->JavaScript direction, which gets you the TypeScript generation "for free".  When I integrated DragSelect int

[2021-06-07 12:42] diomedtmc commented on #94
Hi @ThibaultJanBeyer ,

I can probably take a closer look at this in a couple of days if you want me to.

😄

[2021-06-07 12:43] diomedtmc commented on #95
If I can get in there and work on the teardown, I'll have a play at this one too.  Thank you @ThibaultJanBeyer !

[2021-06-10 02:00] #92 closed

[2021-06-23 16:33] ThibaultJanBeyer commented on #77
Would you be so kind to clarify:
- which device are you using?
- what is not working correctly? I tried but it did not draw the selection when dragging
- from your Video I really don't see what is wrong? It seems to be selected correctly
Would you mind creating a video with sound where you describe exactly what is not working?
Thank you :)

[2021-06-23 16:43] Xumochuan commented on #77
Hi, @ThibaultJanBeyer
My video is very simple to test.
I can't draw multi-items in mobile (iPhone safari).
Also, did you check your codepen example in mobile-responsive mode?

This is your codepen in git repo.
[https://codepen.io/ThibaultJanBeyer/pen/prpwYG](https://codepen.io/ThibaultJanBeyer/pen/prpwYG)
[https://prnt.sc/16guwjm](https://prnt.sc/16guwjm)

Thank you

[2021-06-23 16:44] ThibaultJanBeyer commented on #93
I had a brief look into this, looks like typescript natively supports auto-generation of .d.ts files based on JSDoc, see: [https://www.typescriptlang.org/docs/handbook/declaration-files/dts-from-js.html](https://www.typescriptlang.org/docs/handbook/declaration-files/dts-from-js.html).
Unfortunately, I currently have 0 times for open source besides work and life. Hopefully, I'll have some more time

[2021-06-24 10:48] musicog commented on #82
Hello @ThibaultJanBeyer, issue updated as per our discussion, including links to (animated gifs of) the videos - sorry, couldn't figure out how to include them natively in the issue!

I'll let you know how I do looking through the code - otherwise, your help when you have time would be greatly appreciated!

[2021-07-02 17:08] ThibaultJanBeyer commented on #77
Dear @Xumochuan, yes I tried it:
- Tried it in chrome mobile mode
- Tried it in firefox mobile mode
- Tried it on my mobile phone
- Tried it with BrowserStack on iPhone safari

I could not see any issue in your video, nor your screenshot nor was I able to reproduce it in the devices above.
I'll, unfortunately, have to close this issue. We can reopen if you give me the exact steps that I can reprod

[2021-07-02 17:08] #77 closed

[2021-07-02 17:52] ThibaultJanBeyer commented on #83
Will be available in next version

[2021-07-02 17:52] #83 closed

[2021-07-02 18:59] #93 closed

[2021-07-03 08:41] aldovelco commented on #93
@ThibaultJanBeyer Hello, there might be something wrong with my setup but it's possible that there is an issue with the new types.

Build errors: https://gist.github.com/aldovelco/dfa446d96bd72407fb5fc1fe8800a735

[2021-07-05 10:19] ThibaultJanBeyer commented on #93
Hi Aldovelco!
Hmm that's odd. It seemed fine for my test project. Did you try deleting your npm packages and re-installing?
If it still does not work can you maybe share your project?

[2021-07-05 17:07] aldovelco commented on #93
To be honest I'm not sure what was wrong. I tried to reproduce this in stackblitz without success.
I'll get back to you if I'm able to reproduce in a demo. Thanks for all your work in this cool project!

[2021-07-09 20:16] megasanjay opened #99 "Console print on keypress"
**Describe the bug**
With the latest version of DragSelect keypresses are being automatically logged to the console.

**To Reproduce**
Steps to reproduce the behavior:
1. Press any button on the latest version of DragSelect from npm

**Expected behavior**
No console log on regular keypresses

**Screenshots**
![image](https://user-images.githubusercontent.com/21206996/125131237-3f442680-e0b7-11eb-8

[2021-07-10 16:05] ThibaultJanBeyer commented on #80
Hi, @hazemelgamal I'm working on this now and trying to understand how you used to use both, DragSelect and GridStack. I'm trying to use both together as well to understand how that would work. Would you be so kind to send me an example with DragSelect v1?

Could something like this work?:
[code]
While `ds` is the instance of `DragSelect` and `grid` the instance of `GridStack`.
You could also not

[2021-07-15 07:34] vineet-verma opened #100 "dragselect ng build error after I run npm install on angulat 8 with typescript 3.5.3."
I am using angular 8 version along with dragselect 2.0.2 version, Recently I am getting the error with dragselect after running npm install. Earlier( 1 week ago ) it was working fine.
I also tried with increasing dragselect version to 2.1.1, But still no luck.

+ @angular/cli@8.3.23
added 264 packages from 186 contributors in 11.428s
[32;1m$ ng build --project razor-tagging-lib[0;m
Building Angu

[2021-07-16 07:18] ThibaultJanBeyer commented on #80
Issues a PR that Adds some utilities to support this. Tried out with the library you linked and the following set-up:

[code]

Seems to work flawlessly.
Let me know what you think :)

[2021-07-17 12:26] ThibaultJanBeyer commented on #99
Hello there, thank you for using the tool!

Yes this is a leftover in the non-minified version, removed it here: https://github.com/ThibaultJanBeyer/DragSelect/pull/101/files#diff-56116c5ad8b7cae154647277938ee084e17117f50e56ab280e2140e304bf543dL99

I'd generally suggest either using the minified version or minifying your build for production.

As it will be gone in the next version soonish, closin

[2021-07-17 12:26] #99 closed

[2021-07-17 12:29] ThibaultJanBeyer commented on #100
Hi @vineet-verma thanks for letting me know. Seems to be an issue with the exported types. Those names that he can't find are in types.d.ts … Looks like it's not exporting the reference to types.d.ts. I'll have a look if this can be fixed 👀

[2021-07-18 18:35] #100 closed

[2021-07-18 18:42] ThibaultJanBeyer commented on #100
@vineet-verma, I think I fixed it. Unfortunately, I can't reproduce it since I've not your set-up. Can you please try the newest version `2.1.2` and let me know if that worked? Thank you!

[2021-07-19 13:44] #80 closed

[2021-07-19 13:44] ThibaultJanBeyer commented on #80
Also re-added break. While it's not what you need it does potentially help people building stuff on top of DragSelect.

[2021-07-19 14:29] #94 closed

[2021-07-19 14:39] ThibaultJanBeyer commented on #94
done :)

[2021-07-19 14:55] ThibaultJanBeyer commented on #95
To be honest, you can use multiple instances of `DragSelect`, one for each area you have. If it changes you can teardown DragSelect by using `.stop`.

Let me know if that's not sufficient or if you have a solution PR and we can re-open this issue.

Cheers :)

[2021-07-19 14:55] #95 closed

[2021-07-19 16:12] ThibaultJanBeyer opened #105 "Clicking on the scrollbar creates a selection"
**Describe the bug**
Clicking on the scrollbar creates a selection. Clicking outside of it and then dragging in scrolls the area.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the quicktest
2. Try to scroll down

**Expected behavior**
Clicking on the scrollbar (outside of selectorarea) should not trigger a selection

[2021-07-19 16:32] #105 closed

[2021-07-29 08:40] Wenrong108 opened #107 "Prevent multi-selection on overlapped area of elements"
**Describe the bug**
Hi, @ThibaultJanBeyer
Thanks for releasing the great lib!
I have an issue. When I click overlapped area of elements, all overlapped elements are selected.
I want to select only a TOP element!
Hope your kind solution

Best Regards

**To Reproduce**
https://mochuan-video.tinytake.com/msc/NTY2OTEyM18xNzU1NTkyOA

**Desktop (please complete the following information):**
 - OS: Wind

[2021-08-05 05:39] aldovelco commented on #100
Hello again @ThibaultJanBeyer, this is the same issue I mentioned in #93. I just wanted to let you know I updated my project to `2.2.2` and types are working as expected. Thank you once again!

[2021-08-13 19:42] Ptival commented on #95
I think I may have a use case where `setArea` would be very useful, but I'm still mentally working through it (and discovered this library only hours  ago), so let's see what people think.

My use case is creating a parent React component that will contain a bunch of other React components that I intend to be selectable/draggable.

The problem is, because the parent component is only mounted later

[2021-08-19 22:21] owenfar opened #108 "v2 selectable items drag feature is breaking the UX | Cannot disable selectables dragging"
**Describe the bug**
Drag support on individual items in v2 (especially with arrow keys) is not following the common standards, and breaks everything I had from previous version. There is also no easy way (as far as I can tell from the docs) to completely disable the drag feature.

**Expected behavior**
I expect there to be a simple option inside DS object such as: `selectableDragging: false` that

[2021-08-19 22:29] owenfar commented on #108
Just another note: `isDraggingKeyboard` event is not firing inside subscribe - it shows undefined - only `isDragging` event works. All I need for now is to disable all dragging features inside selectables.

[2021-08-20 20:24] owenfar commented on #108
Sorry, I would like to ask something else here if that's ok; do we still have a way to detect the previously available `onDragStartBegin` and `onDragStart`? I was using these two functions and it was very crucial to my application the difference between these events. Is it possible to achieve the same with `subscribe`?

I hope I'm not bothering you too much about this :)

[2021-08-20 21:19] owenfar commented on #108
Ok, I must highly apologise now - this is very weird but `keyboardDrag` was not triggering because of something stupid I did. This of course solves all the dragging issues I had with the keyboard. I was too blind and threw the blame on the library..
I would still wish that draggability was more detached from the main purpose of the library (Drag Select) - but that's just me.

So now my only proble

[2021-08-20 21:19] #108 closed

[2021-08-22 06:25] ThibaultJanBeyer commented on #107
Hi @Wenrong108 and thanks for using the tool.
This is super difficult as JavaScript has no concept of "first element" but I see the value so I'd like to know if more people would be interested in such a solution.
So I'll leave this open for vote, just add a thumb up 👍 if you'd like to have this.
Ofc. if someone is keen on adding it himself that would be a great addition, or if you have ideas on ho

[2021-08-22 06:26] ThibaultJanBeyer commented on #100
Awesome, thanks for the feedback! 👍

[2021-08-22 07:30] ThibaultJanBeyer commented on #82
Hi @musicog, I took the time to have a deep look into this. It is not a bug in DragSelect and has **nothing** to do with DragSelect.

# Explanation

I'll close it because it's not a bug in DragSelect, it's how Firefox is rendering the `<use>` output in combination with `x="" y=""` positions.

You can see that yourself when you inspect the elements with your browser (right-click on the SVG node and

[2021-08-22 07:30] #82 closed

[2021-08-22 08:57] ThibaultJanBeyer commented on #108
I added those `onDragStartBegin` would be `predragstart` see the notes [in the docs](https://github.com/ThibaultJanBeyer/DragSelect#events):
[code]
Cheers

[2021-08-22 09:08] ThibaultJanBeyer commented on #95
Can you work with State? something like this?

[code]

Does that make sense? Feel free to look into adding a `setArea` to the library btw. :)

[2021-08-23 09:34] owenfar commented on #108
Thank you so much for reaching out @ThibaultJanBeyer :) In the end I did find it in the "Note:" section as you mentioned, but I have another problem now, this time it might actually be a bug - let me explain briefly here, and if you think so I can open another issue.

To understand this quickly, you could have a look at this example CodePen I did: https://codepen.io/owenfar/pen/LYLYPBz

Basically

[2021-08-23 09:51] owenfar commented on #107
Hello everyone, I do think this should be in the pipeline eventually :)

Selecting by clicking on 1 item should only select that item, especially now with drag support.

If a user would like to select all elements at once they can use the normal dragSelect functionality.

@Wenrong108, for now you could try to implement a workaround using a callback function, and check if the topmost item in items

[2021-08-23 09:55] ThibaultJanBeyer commented on #107
Noted. And that's a good suggestion. Do you know if there is a way in JS to know that an element is the topmost element?

[2021-08-23 10:04] ThibaultJanBeyer commented on #108
Your code is false. It should be `if (items.length > 0)` not `if (items.length > 1)`… `> 1` means: 2 or more items…

[2021-08-23 10:06] owenfar commented on #107
Did you implement this using elementsFromPoint() function? It depends on which method we're using the get the elements.

[2021-08-23 10:11] owenfar commented on #108
That is just an example, so that it only triggers when more than one item is selected. The problem isn't here.

Are you still checking this or should I elaborate more regarding this issue?

The issues are as mentioned:

1. when inner elements exist in selectables - they are being ignored as part of the selectable item
2. teardown in `subscribe` still deselects selected items, even if stop(false,fa

[2021-08-23 10:17] ThibaultJanBeyer commented on #108
Ah! I think I see what you mean. Yeah looks like there is some selection going on before calling the `predragstart` when the element is not the topmost element. Without looking too much into details this seems to be a bug yeah :/ 🐞

[2021-08-23 10:33] owenfar commented on #108
I think these are two separate bugs though, let me explain further:

Issue 1

When element is not topmost element inside selectable - normal behaviour is ignored (I suggest using [contains](https://developer.mozilla.org/en-US/docs/Web/API/Node/contains) or [closest](https://developer.mozilla.org/en-US/docs/Web/API/Element/closest))

Issue 2:

Let's say you have a dragSelect area with a few items,

[2021-08-23 10:44] owenfar commented on #108
Eventually I would suggest having something like `ignore: ".class-name"` property when creating a new DragSelect object? I think that this would be very useful for when we have elements placed above the same dragSelect area we want to ignore - but for now I still think solving issues 1 & 2 would make the library more robust as it is.

I would like to help solve these issue if you don't have time,

[2021-08-23 14:43] ThibaultJanBeyer commented on #108
Hi yeah I'm on holidays for the next weeks, maybe I find some time to look into this. I still don't quite understand all the points you wrote to be honest. What would help maybe is if you could create a screen recording where you explain what you mean?

Generally yes, please contribute and help! What would you need to know?

[2021-08-23 14:43] ThibaultJanBeyer commented on #107
Oh! This is awesome. Sweet `elementsFromPoint` can be very useful here 🍰 🙇‍♀️

[2021-08-23 14:44] ThibaultJanBeyer commented on #108
and feel free to open a new issue

[2021-08-23 19:18] owenfar commented on #108
Will open separate issues and explain in detail with video so that it's crystal clear :) Thanks, and enjoy the holidays!

[2021-08-25 18:39] owenfar opened #109 "Inner elements are being ignored as part of the selectable item"
**Describe the bug**
When element is not topmost element inside a selectable - normal behaviour is ignored (if possible I suggest using [contains](https://developer.mozilla.org/en-US/docs/Web/API/Node/contains) or [closest](https://developer.mozilla.org/en-US/docs/Web/API/Element/closest) - depends on what current methods are being used).

**To Reproduce**
See: https://codepen.io/owenfar/pen/LYLYP

[2021-08-25 19:46] owenfar opened #110 "Teardown inside predragstart event still deselects items"
**Describe the bug**
If we have a group of selected items, it's not possible to "break" or "pause" dragSelect without deselecting the items inside `predragstart` event.

To be completely honest, I'm not sure if this is a bug or a missing feature - but if we compare the behaviour with what we used to have as `onDragStartBegin`, then it is - at least for me it breaks the expected behaviour.

The mai

[2021-09-22 08:41] seniordev09 opened #111 "Feature Request: change Zoom (and other props) dynamically"
Hi, @ThibaultJanBeyer
I want to change zoom after created dragSelect. how can do it?

![image](https://user-images.githubusercontent.com/47884397/134311493-d0a5554f-8d55-4eae-8ece-535e27052984.png)

Thanks

[2021-10-16 08:32] mattymatty76 opened #112 "Selected items and windows modal"
Hello everyone and thanks for your job. There is an issue in this library, at least I think so: when you select a set of items and soon after open a window modal, the items are being deselected automatically.
So, if I want to apply a sort of logical operation/method through the window modal, I can't do it.
Thank you anyway for the library

[2021-10-19 06:02] #112 closed

[2021-10-19 06:03] mattymatty76 commented on #112
I'm sorry,
solved widh --> area: document.querySelector

:D

[2021-10-20 19:55] taha-azzabi opened #113 "How click on a element inside the selectables area without trigger a select ?"
Hello

Please i wonder if there a way to click in a button inside a selectables area without trigger a select ? please see the above picture.

![__picture](https://user-images.githubusercontent.com/1032609/138162636-572f2d07-912d-4d56-ab03-92e5b2bff67e.png)

Thank you

[2021-12-15 17:11] moi90 opened #115 "Feature Request: add "DropZones""
I would like to use DragSelect only for *selecting* elements (no free movement). Then, I want to drag and drop them to another place (think of files being dragged into folders).

I tried this, but it does not work reliably (sometimes I can drag, but most of the time, nothing happens):

[code]

I will try to create a minimal jsfiddle to illustrate the problem.

[2021-12-22 06:56] ThibaultJanBeyer commented on #110
Yes, this looks like a bug. I'm on it 💪

[2021-12-22 09:53] owenfar commented on #115
@moi90 I believe you can use:

[code]

When creating the DragSelect object.

That should disable the dragging functionality altogether.

[2021-12-22 10:52] moi90 commented on #115
Thanks for looking into this!

Yes, if I use the above settings, even native dragging does not work anymore.

I want to achive the typical file explorer behavior: Files can be dragged into folders, multiple files can be selected by drawing a rectangle, etc.

Thanks for the pointer to interactjs, I'll give it a try. Can you show me the code where you used the two libraries together?

[2021-12-22 10:58] owenfar commented on #115
That is exactly what we had to build, a complete file system online. So it is possible with both these libraries, but unfortunately I cannot share the code base, it's not mine. But that part of the code is not very complicated, you just have one class on the item as `selectable` for DragSelect and another as `draggable` for interactJS. It should just work.. :)

[2021-12-22 12:47] ThibaultJanBeyer commented on #115
Hi there and thanks for using the tool!

Yes please create a JS fiddle. What's the issue with the library's native drag? Seems to me as if it could do exactly what you want out of the box? Selecting items, then dragging them from one place to another 🤔

Please share, I'd love to understand your use case and why it's not feasible with the current out-of-the-box version of the library.

Otherwise ye

[2021-12-22 14:41] moi90 commented on #115
Here is a fiddle: https://jsfiddle.net/oauzLn6j/38/

This is not working as I want it:
- The rectangle can be drawn in the whole window instead of just inside `div.right`.
- The objects can be moved freely. Instead, I want them to be droppable only on the nodes in the tree on the left side. In all other cases, they should return to their initial position. (Therefore, I wanted to use native draggin

[2021-12-22 14:52] owenfar commented on #115
@moi90 The key part regarding the second bullet point is to have a "cloned" item that is actually being dragged - not the original element, like what happens on a desktop. The other option is to save the x, y positions of the item before you start dragging, and if when they are released it is not a dropzone - you set them back to the original x, y position.

This is something you'll have to write

[2021-12-24 11:53] ThibaultJanBeyer commented on #115
Your JSFiddle is broken.
But I believe @owenfar understood your request and gave a great answer already.
This is an interesting feature request.

[2021-12-24 11:57] ThibaultJanBeyer commented on #115
To answer your initial question: how to use it with native drag and drop. I think you'd probably have to disable the draggability as mentioned here https://github.com/ThibaultJanBeyer/DragSelect/issues/115#issuecomment-999439276 and then figure out how to add the native drag and drop on multiple elements. Probably you could just place the selected elements into a draggable div and then the user wo

[2021-12-24 12:06] ThibaultJanBeyer commented on #110
Update, I found the issue but it will take a bit longer to fix and now it's Christmas 🎄 🎅  thanks for your patience =)

[2021-12-24 17:21] wisp-x commented on #113
I have the same problem.

[2021-12-24 19:50] ThibaultJanBeyer commented on #65
Hi this was 1 year ago and no one voted for it. Will close it for now. This however would be a welcome addition so if you coded it for yourself, why don't you add it to the tool directly by issuing a pull request? That would be awesome! Anyways, closing this ticket for now, merry xmas!

[2021-12-24 19:50] #65 closed

[2021-12-24 19:54] ThibaultJanBeyer commented on #107
@owenfar, @Wenrong108 is this still an issue? I just tested it on chrome and firefox with version v2.2.2 and could not reproduce it anymore. If I click, only the topmost element is selected.

I'll close it for now as solved. Please try to reproduce with the latest version if it's still the case for you.

Thank you! 🍄

[2021-12-24 19:54] #107 closed

[2021-12-24 20:00] ThibaultJanBeyer commented on #109
Hi @owenfar, thanks again for reporting this! Looks like a bug indeed! Do you wanna have a try at this one? Or want me to take a look? PS: Merry Christmas to you =)

[2021-12-24 20:06] ThibaultJanBeyer commented on #111
Hi @dev181992 thanks a lot for using the tool <3
Indeed that is unfortunately not feasible, you'd have to create a new instance.
But this would be a good idea in my opinion. Being able to change all properties dynamically as well.
If you want, this addition would be very welcome, otherwise, I'll try to find some time to add this

[2021-12-24 20:42] #110 closed

[2021-12-24 20:49] ThibaultJanBeyer commented on #110
found some time and pushed the fix. It's in 2.3.0. Both, `break` and `stop` will now work. I'd recommend going with `stop` & `setTimeout(start)`

[2021-12-24 21:03] ThibaultJanBeyer commented on #113
Hi @taha-azzabi & @wisp-x thanks a lot for using the tool <3

You can use `.break()` for that. I.e.
[code]
[See it in action](https://codepen.io/ThibaultJanBeyer/pen/ZEXaBKb)

[2021-12-24 21:03] #113 closed

[2021-12-24 22:01] owenfar commented on #109
Hello @ThibaultJanBeyer , really happy to see you working on previous fixes. Thank you so much for your time.

It's crazy times for me with external projects at the moment. Honestly I don't see myself having a look until around February, when things re-adjust.. but I would love to dedicate some time to get used to this code-base and wish to spare more time on helping out here.

Merry Christmas to

[2021-12-26 11:40] ThibaultJanBeyer commented on #109
This was an easy one, PR is out :)

[2021-12-26 18:44] owenfar commented on #109
That's a pity :) Annoying when something that seemed simple turns out to be a pain ... Hopefully you'll figure it out. Otherwise I will definitely jump in to help soon. Thanks!

[2021-12-27 14:25] wisp-x opened #118 "Is there any way to disable 'dragselect' on mobile devices."
thanks for the great lib!

**Is your feature request related to a problem? Please describe.**
Dragging to select an item is not a good experience on mobile devices

**Describe the solution you'd like**
On the mobile device, I want to close 'dragselect' and select items by clicking.

**Describe alternatives you've considered**

I tried to judge whether it is necessary to disable 'dragselect' by jud

[2021-12-27 15:56] ThibaultJanBeyer commented on #118
Hi there wisp-x! Thanks for using the lib ❤️
I don't really understand what you're trying to explain, would you be so kind to upload a screen capture maybe?
Because you should be able to select items by tapping with your finger as well, yes
Thank you

[2021-12-27 23:07] wisp-x commented on #118
thanks for your positive response!
Simply put, I want to disable ‘dragselect’ on mobile devices. Here is my current solution:
[code]
But I’m thinking, is it possible to provide this method inside ‘dragselect’？

[2021-12-28 07:03] ThibaultJanBeyer commented on #118
Why not simply?
[code]

[2021-12-28 07:03] #118 closed

[2021-12-30 09:15] moi90 commented on #115
You're right, it would be great to have dropzones in DragSelect! How hard would this be to implement?

I'm sorry, I forgot the revision in the link.

This is the current version: https://jsfiddle.net/63oh0men/4/

For the DropZones, it is important to note that they can be outside of the selectable `area`. (In my example Node1-3 inside `#left`, while `#right` is the selectable area.)

How would you

[2021-12-31 02:22] Tz-george opened #119 "Can I add selectable element when I dragging in a area?"
**Describe the bug**
I have a updating list container, when I scroll down, this list will updating data. If I select with dragging, and I drag to edge of bottom, I update data to this list. These new data can't be selected in dragging. Only selectable when I stop dragging and add selectable to dragSelect object. How to add selectable element when I dragging scroll.

**To Reproduce**
Steps to repro

[2022-02-02 01:21] Ptival commented on #95
I'm trying this today and it brings the engine to a halt within seconds of dragging anything.

Not sure why, during my first drag everything is normal, but if I release the selectable, and then drag it again, now I not only see my component move, but also the blue box indicating box selection, and it is no longer half transparent but opaque, seemingly indicating that multiple such boxes are being

[2022-02-16 12:49] owenfar commented on #63
Hello @ThibaultJanBeyer, hope all is well.

I finally had the time to update to v2, it's really great to see all the bugs & enhancements in this version.

I know this isn't something you would want to hear though, because this must have taken quite some time for you to accomplish as is, but I'm afraid it breaks some other things.

I see that all ds-selector areas have been moved into the main body

[2022-03-25 20:49] calebwaldner commented on #109
Love this package! I am having some trouble with this issue too.

I found a workaround by making my draggable div with no children pass its transform style to another identical div directly under it that has all the children on the 'dragmove' event. Seems to work good.

I'll keep a watch on this issue for a fix. Again, love the package, exactly what I needed; works great!

[2022-04-02 19:23] ThibaultJanBeyer commented on #63
Hi, @owenfar thanks for this feedback, can you please open a new issue regarding this? Since it's not really related to this issue. And let's discuss it there then. Thank you!

Yes, a sponsorship would help **_for sure_**! Currently, this is my lowest priority and just a hobby, since I get "paid" exactly 1$/month from my GitHub sponsors. This does not even cover my "GitHub pro" subscription. If my

[2022-04-02 19:36] ThibaultJanBeyer commented on #115
Thank you for providing input to this and also an API design 🌟
That the dropzones can lie outside of the draggable area sounds very complicated and that would take a lot of time.
The dropzones only are also a lot of work but I'd assume 2-3 weekends of dedicated work would do it. However, I don't get much free time lately so yeah would be great if you could look into this, or consider [sponsoring m

[2022-04-02 22:10] ThibaultJanBeyer commented on #109
fixed in [v2.3.1](https://github.com/ThibaultJanBeyer/DragSelect/releases/tag/v2.3.1) 🥂

[2022-04-02 22:12] #109 closed

[2022-04-02 22:15] ThibaultJanBeyer commented on #75
This issue is 1 year old and got 0 votes. Hence we'll not focus on it. Feel free to re-open if you want to work on it :)

[2022-04-02 22:15] #75 closed

[2022-04-02 22:23] ThibaultJanBeyer commented on #119
Hi @Tz-george thanks for using the tool 🤗
can you please add a code example?
You can use codepen for it, [here is an example](https://codepen.io/ThibaultJanBeyer/pen/Nvobgq) that you can copy :)
Thank you!

[2022-04-04 07:13] owenfar commented on #63
Hello @ThibaultJanBeyer, will open a new issue about this now, thank you for reaching back about this.

We don't use this on any production software, actually it's more of a pet project I'm building on my own. I would be more than happy to if I had the finances, but so far nothing. I will as promised last year, try to dedicate some time hopefully soon to help with the library.

Thanks once again.

[2022-04-04 07:28] owenfar opened #125 "Managing z-index/node positions on ds-selector areas"
**Describe the bug**
In v2, all ds-selector areas have been moved into the main body node, and we're keeping states for multiple specific dragSelect areas to hide & show the right one accordingly. The problem now is managing z-index. Since all ds-selector areas are under one element at the top of the node tree, it's impossible to keep a "window" above another dragSelect area, as we do not have con

[2022-04-06 18:18] ThibaultJanBeyer commented on #63
Thank you for being a great person, I hope your pet project will be successful 🤗

[2022-04-29 12:07] Deitsch commented on #115
I am trying to do exactly the same. @moi90 how did you move forward? Did you keep using this lib, switch to another, go full custom or partially?

[2022-04-29 14:06] moi90 commented on #115
@ThibaultJanBeyer Ok.

@Deitsch I did not yet implement this behavior in my application. If you find a solution, please let me know :)

[2022-04-30 07:28] Devleed opened #126 "Doesn't work with large number of divs."
**Description**
I'm trying to make a grid of 238*238 divs, and I want them to be selectable. But it only works for the starting divs and lags alot in the middle and it doesn't work in the end.

**To Reproduce**
Steps to reproduce the behavior:
1. Draw 238*238 divs
2. Make them selectable
3. Try to select divs in the end
4. Face the issue

**Expected behavior**
Should select the divs.

[2022-04-30 08:44] ThibaultJanBeyer commented on #126
Hello Devleed. We currently support up to 15.000 Nodes. Your example has 56.644 nodes. It is planned to support more but given how Javascript and the DOM works it's not Straight forward and might take some time. If you have knowledge in that area feel free to contribute. Or support the Tool. Thank you :)

[2022-06-02 15:18] Gruxme opened #127 "Vue 3 support"
A vue 3 package would be much appreciated

[2022-06-19 14:36] Yixn opened #130 "Min distance to be considered a select"
I would like to set a min distance before it actually starts the selecting rectangle

[2022-07-10 08:28] mulder3062 opened #132 "Problems moving with the arrow keys on the keyboard"
**Describe the bug**
There is a problem that scroll events work together when moving with the keyboard arrow keys.

**To Reproduce**
Steps to reproduce the behavior:
1. visit https://dragselect.com/
2. move section 'Within a scroll-able Area'
3. Select box 1 of Result
4. keyup keyboard up arrow

**Expected behavior**
Scrolling of the result area is prevented.

[2022-07-10 08:40] mulder3062 commented on #132
solved.

`
document.querySelector('.result').addEventListener('keydown', e => {
  e.preventDefault();
  e.stopPropagation();
  return false;
});
`

[2022-07-10 08:40] #132 closed

[2022-07-19 20:26] ThibaultJanBeyer commented on #127
Hi Gruxme, thanks for using the tool.
Any version of Vue or whatever library is supported by default since this tool is written in vanillajs.
Cheers

[2022-07-19 20:26] #127 closed

[2022-07-19 20:27] ThibaultJanBeyer commented on #130
Hi @Yixn would you mind elaborating what exactly you mean please? Thank you 🤗

[2022-07-27 17:40] gauravdhmj opened #134 "Drag select libaray 2.3.1 not capturing multiple items with angular 9 version"
Drag select libaray 2.3.1 not capturing multiple items with angular 9 version
**Describe the bug**
When user drag mouse on multiple words, It does not capture any word.

**Expected behavior**
Program should return the selected words on the browser.

**Code Example**
We are using below code in our application to create a drag select library object.

this.ds = new DragSelect({
  selector: document.g

[2022-08-14 10:10] n1crack opened #135 "Feature Request: on dragstart using custom image"
how can I use custom image when dragging like :

[code]

the events provided are returning MouseEvent, not DragEvent

[2022-08-15 18:54] n1crack commented on #135
I got it done somehow.

[2022-08-15 18:54] #135 closed

[2022-09-30 12:05] ThibaultJanBeyer commented on #134
Hi @gauravdhmj thanks for using the tool! ❤️‍🔥

I am trying to reproduce your issue, are you able to share a https://codepen.io/pen/ by any chance? You can use [this one](https://codepen.io/ThibaultJanBeyer/pen/prpwYG) as a starting point. Theoretically, it should not be related to Angular. This would make it easier for me to reproduce.

Thank you!

[2022-09-30 12:10] ThibaultJanBeyer commented on #125
Hi @owenfar and thanks for your patience and the elaborated description, I might have some time in the following weeks to look at this. But I am not sure how to tackle it right out of my head. Because as you mentioned it was designed like this so that one can drag outside of the window as in #63.

[2022-09-30 12:11] ThibaultJanBeyer commented on #130
I’m closing this since I did not hear back from you @Yixn and am not sure if I understand what you mean correctly. Feel free to re-open with a more precise description of your feature request :)

[2022-09-30 12:11] #130 closed

[2022-09-30 12:13] ThibaultJanBeyer commented on #119
Hi @Tz-george I am closing this since I don’t really understand what you mean and did not hear back from you since last year. Feel free to re-open and provide more details, a recording would be good here I think. Thank you!

[2022-09-30 12:13] #119 closed

[2022-10-01 21:02] owenfar commented on #125
Hello @ThibaultJanBeyer, it's nice to hear back from you. By coincidence, I just started last week dedicating time on my project again.

**Brief overview**

I can only give a little guidance perhaps. I still think that the second option I mentioned above is the best direction forward - if possible. We have three priorities:

1. Stop scrolling when reaching the bottom section (original problem - fi

[2022-10-05 04:03] AndrewPixel opened #136 "Event On isDragging Ended"
Is there any event which lets me know when the user has stopped dragging the selected elements eg something like isDraggingEnd ?

I need to run some code and I'd rather not run it continually while isDragging is true but once when isDragging ends.

[2022-10-05 04:06] AndrewPixel commented on #136
Oops, I should've asked this in discussions and not issues, my bad.

[2022-10-05 11:50] ThibaultJanBeyer commented on #136
Hi Andrew and thanks for using the tool!

Yes for sure, if you check the docs for [callbacks](https://github.com/ThibaultJanBeyer/DragSelect#event-callbacks), there is `callback` which is triggered on every end of interaction. So in your case you’d look for `true` on the `isDragging` callback object key.

After having a look I agree that the docs could be improved here, I hope I’ve some time to im

[2022-10-05 11:50] #136 closed

[2022-10-09 18:31] #111 closed

[2022-10-09 18:33] ThibaultJanBeyer commented on #111
This is now possible [see docs](https://github.com/ThibaultJanBeyer/DragSelect#post-initialization-setting-updates):

[code]

[2022-10-09 18:35] ThibaultJanBeyer commented on #95
This is now possible [see docs](https://github.com/ThibaultJanBeyer/DragSelect#post-initialization-setting-updates):

[code]

[2022-10-09 18:41] ThibaultJanBeyer commented on #125
I think this could also be solved if one is able to decide where the selector should be placed, i.e. being able to select the selector areas parent element, that might be easier. Not sure how well this will work out tho’ because the whole reason why I moved the selector out of the area was that it lead to a lot of other issues within the are (since the area can potentially be anything) so I think

[2022-10-10 06:49] owenfar commented on #125
Hey @ThibaultJanBeyer, great to hear that :) Very happy to see you dedicating time on this library again.

I had already tried to change the `z-index` before, the problem then was that all `ds-selector` elements were placed at the top most node. This by default gave each selector the highest priority unless the "window" elements are also at the same node level. Even so, it became too complicated t

[2022-10-13 11:32] ThibaultJanBeyer commented on #115
Hello again everyone @moi90, @Deitsch. I know it has been a long time but I’m picking this up now!

Here was my idea for the design:

## The Settings:
[code]
- `zoneId`: is any string to identify the zone, this can be used to add specific CSS classes to the elements belonging to the zone
- `zoneEl`: would be the element that represents a zone
- `items`: would be the selectable items that can be dr

[2022-10-13 11:43] ThibaultJanBeyer commented on #125
Yes, there were definitively other issues with it. But do you think adding an option to the tool where you can choose where to place the selector area, i.e. you could choose that to be the area itself then it would be back inside of the area 🤔

[2022-10-13 11:47] owenfar commented on #125
Yes we can do that definitely. But won't this then still require to fix the issues we had when having it within the area itself, if we choose this option?

[2022-10-13 11:52] ThibaultJanBeyer commented on #125
Woah speedy answer 🚤 💟

You're right it might not work for every use-case because we don’t know where the user places it in the end. That was why I took it out, this gives control over it and works for 90% of the use cases. I still agree tho’ that the user should be able to place elements on top of it 🤔

I think we’ll have to play around a bit with different solutions before finding the optimal on

[2022-10-13 12:07] owenfar commented on #125
I agree with all your points.

Regarding the z-index, that will only work if the elements live in the same node level though - this would still fail if you have a ds-element within an ds-element (e.g. desktop and child window elements). The parent will always win right, no matter the z-index value.

I would love to have the option to have it back within the area, this would allow the niche use-cas

[2022-10-13 13:26] owenfar commented on #125
@ThibaultJanBeyer actually now that I think about it, perhaps having the option to place it within the area could already be enough :) We should try this option first

[2022-10-13 14:34] ThibaultJanBeyer commented on #125
Cool yeah, that hopefully is not to complex. Do you mind sharing a code example on some code-sharing website that I can work with while testing? That would be super helpful :)

[2022-10-13 20:56] owenfar commented on #125
Hello @ThibaultJanBeyer,

As promised please find a live playground for such a scenario: https://codepen.io/owenfar/pen/ZEooKOX

As you can see, here we have a simple but fairly similar UI implementation with a "window" `ds-area` on top of a "parent" `ds-area`. The issues are immediately present, but I wanted to point them out here for clarity:

1. When dragging from "parent" element, it is going

[2022-10-14 07:31] moi90 commented on #115
Hi @ThibaultJanBeyer, thanks for picking this up!

I would expect the elements to be dropped where the mouse cursor is released, independent of their actual own location on the screen. This is the behavior that we know from the usual file explorer, isn't it? I can't really imagine a use-case, where the second behavior would make sense...

(These Windows-3.1-style icons are awesome! ;))

[2022-10-14 07:45] ThibaultJanBeyer commented on #125
All right, thanks a lot!

[2022-10-14 08:33] Deitsch commented on #115
Awesome @ThibaultJanBeyer!
I would definitely go with the cursor position.
I implemented a google photos like behaviour myself (less fancy animated tho). I implemented a multi select drag by redrawing the dragUI gathering all the images. You could do the same on hover, to make it clear that all a dropped in there.

[2022-10-14 08:42] ThibaultJanBeyer commented on #115
Haha, thank you @moi90 yes I’m building something fun as an example page for DragSelect =)
@Deitsch thanks for sharing your use case! I always love to hear the use cases. I did not really understand the on-hover part, would you mind sharing some visual examples for this?

Cool, then that’s a decision! So basically what I made in [this comment](https://github.com/ThibaultJanBeyer/DragSelect/issues/

[2022-10-28 06:46] meshv-p opened #140 "Why it's not selecting items ? showing blank array of items.."
First this is selecting and showing item then as soon as i release my mouse then it will blank.. How...
How can i get all items?.

Any idea?.

![image](https://user-images.githubusercontent.com/77038149/198520902-ee48abbe-7080-4186-92a8-09eb7b0ec27e.png)

## Here is my code  in react js
![image](https://user-images.githubusercontent.com/77038149/198521193-7ebf420c-d858-413a-9927-b1de27a72294.png)

[2022-11-01 10:52] owenfar commented on #140
Hello @meshv-p,

It is very hard to understand the issue with just the screenshots that you provided. Can you please try to replicate the same problem on codepen or similar platform so that we can better evaluate and test it there?

[2022-11-01 12:52] meshv-p commented on #140
@owenfar yea, I will provide that sandbox link..

[2022-11-02 16:42] promoter0100 opened #141 "Don't know how to use in angular 13 library"
After some research I found this suited for my purpose. But I don't know how to use this in my library. Can I have some advices?

[2022-11-02 17:20] ThibaultJanBeyer commented on #115
[A PR is out](https://github.com/ThibaultJanBeyer/DragSelect/pull/142) 🎉
The callback is a bit different, please check the PR and give me your thoughts

[2022-11-02 22:41] cercos opened #144 "Drag selector firing when dragging selected elements and the items get reset."
**Describe the bug**
When I drag the selector and select items, the selector fires when I click on a selected item to drag it.

**To Reproduce**
Steps to reproduce the behavior:
1. Select items
2. Drag them
3. Selector tries to select new elements while dragging and resets items

**Expected behavior**
Selected items get ignored drag behavior

[2022-11-05 11:21] dosomder commented on #105
This issue is still present in Firefox browser, because there it seems the scrollbar is inside the scrollable area

[2022-11-08 22:26] ThibaultJanBeyer commented on #115
[A version has been released](https://github.com/ThibaultJanBeyer/DragSelect/releases/tag/v2.5.0) 🎉 🌮

[2022-11-08 22:26] #115 closed

[2022-11-09 07:16] owenfar commented on #141
Hello @promoter0100, did you have a look at the online docs: https://dragselect.com/ ? Have you tried to install it or request the library and start a new DS object?

Try to follow the Installation and Simple sections from the site, I think you should be able to get started from there :)

Let us know if you still can't get it started.

[2022-11-09 07:25] owenfar commented on #144
Hello @cercos, I was checking on this example provided by @ThibaultJanBeyer https://codepen.io/ThibaultJanBeyer/pen/bGKgVxp and I cannot reproduce.

If I understand correctly your issue, while dragging the selected items, a new DS is triggered and selects more items while dragging the original ones?

Have you solved it maybe? Or can you please try to reproduce it on something like codepen so that

[2022-11-09 09:23] ThibaultJanBeyer commented on #125
Hey Owen, I started working on this and given your example, theoretically just changing the z-index on the selector areas and the container would work, see this:

https://user-images.githubusercontent.com/12467511/200790698-c3dff940-1864-457e-ad84-d92a473fb8ac.mp4

I only changed the CSS to this:
[code]

I do think it makes sense to give the ability to set the z-index for the `ds-selector-area`s v

[2022-11-09 09:44] owenfar commented on #125
Hello @ThibaultJanBeyer, thank you for reaching back about this :)

I applied the changes you suggested and saved them: https://codepen.io/owenfar/pen/ZEooKOX but it still doesn't work for me 🤔 strange. I am using latest Chrome on macOS.. perhaps it's browser related?

Theoretically this shouldn't work though, since `ds-selector-area` is in the same node level as `<main>` node, so all child elemen

[2022-11-09 09:46] owenfar commented on #125
Here's a video showing the latest update in incognito mode:

https://user-images.githubusercontent.com/25148235/200796930-cda5d9ba-17b9-4d68-893d-4c58542501ac.mov

[2022-11-09 10:40] ThibaultJanBeyer commented on #125
Yes true sorry the `nth-child` selector was wrong, my mistake. In CSS the correct would be `nth-last-child(x)` since they are the last elements in the DOM. So basically:

Replace the `:nth-child` ones with:
[code]
And it will work!

This is just an example to show that it would work if one could set the z-index on the area.

[2022-11-09 11:22] owenfar commented on #125
Hello @ThibaultJanBeyer, I did the update now and it did work like this 🤔 - but this only does work if we _assume_ none of the other elements in the same node level have z-index set, otherwise my explanation still stands true. Doing this will also trigger a bug when from the first click the z-index is not yet adjusted (thus it still goes over the "child" DS area), until the browser detects there a

[2022-11-09 12:08] ThibaultJanBeyer commented on #125
Oh yes sorry, I checked your profile you seem pretty skilled. So what you write makes sense, I did actually not know that the z-index is not applied right from the start only after an interaction with the page happened TIL :O
Do you have by any chance a link to some docs/article that explains why that is? I’d like to understand this in more detail :)

It’s up to you, I have some slack time this we

[2022-11-09 12:24] owenfar commented on #125
Hello @ThibaultJanBeyer, I am no expert by no means though :D Regarding z-index, what I learned from experience is that z-index will only have meaning within it's parent element.. so outside the parent it will not work as expected unless nodes are in the same level. Now regarding the detection of z-index within the node tree I think it has to do with the stacking context.. but again, I don't know

[2022-11-10 00:05] cercos commented on #144
@owenfar Yes.  That is exactly what is happening.  I will try to throw together a codepen or at least a gist by tomorrow.  I would do it right now just have a lot going on in life right now.

[2022-11-10 09:52] moi90 commented on #115
Thanks, I will try it out as soon as I find the time!

[2022-11-12 11:39] ThibaultJanBeyer opened #148 "DragSelect `removeSelectabes(node, true)` is not permanent"
**Describe the bug**
DragSelect `removeSelectabes` is not permanent. After applying it, it would re-add the element on the next iteration. Probably has to do with the settings store.

**To Reproduce**
Steps to reproduce the behavior:
1. Select the element
2. Add a callback listener and remove the item from the selectables with ` ds.removeSelectables(item, true)`
3. Select anything else, then drag

[2022-11-14 10:56] ThibaultJanBeyer opened #149 "DropTarget should work on keyboard drag"
**Describe the solution you'd like**
The callback for drop target on drop-zones should also work when dragging the element with the keyboard. i.e. when the item is dragged over the dropzone the callback should be triggered just like "dropTarget" with the mouse.

**Additional context**
[Add any other context or screenshots about the feature request here.](https://codepen.io/ThibaultJanBeyer/pen/dyK

[2022-11-17 15:26] HollowMan6 opened #150 "Add an option only to pick the child selectable per click in multi-select mode"
**Is your feature request related to a problem? Please describe.**
It would be great if DragSelect could implement an option, such that in multi-select mode, when there are two selectable, one is a child of another with regard to DOM element, then only the child get selected in a single click event.

**Describe the solution you'd like**
We may implement a filter for the click event in multi-select

[2022-11-23 15:14] ThibaultJanBeyer commented on #125
Hi @owenfar I finally had time to look into this. Actually while building it, it became pretty clear that it would be better to just give an option to pass your own custom selector area (just like you can use your own selector element).

The API design is just:
[code]

Please have a look at [the PR](https://github.com/ThibaultJanBeyer/DragSelect/pull/153), try it out and let me know what you think

[2022-11-23 16:02] ThibaultJanBeyer commented on #140
Hi @meshv-p without code it’s impossible to say for certain. But you mentioned using react. I think in your case it is initiating multiple instances of dragselect because or re-rendering, ideally you would put your code into a `useEffect` method.

I recently created a guide on a good way + example to use it with react, you can find the [DragSelect + React guide here](https://dragselect.com/docs/gu

[2022-11-23 16:02] #140 closed

[2022-11-23 16:22] ThibaultJanBeyer commented on #150
Hi @HollowMan6, thanks for the contribution, this is an interesting one. Do you have some playground or code examples so I could play around with this? I’d like to understand your use case better to be able to support you better. Can you add such a test-case for this change in the PR please?

[2022-11-24 08:42] owenfar commented on #125
Hello @ThibaultJanBeyer, this is really great :) Thank you so much for the time and effort. Will try it out over the weekend and reach back here.

[2022-11-24 20:07] ThibaultJanBeyer commented on #150
Hi @HollowMan6 thanks for providing this, did you already add your fix on  https://hollowman.ml/workspace-multiselect/ ? Because I can’t really reproduce your issue, see:

https://user-images.githubusercontent.com/12467511/203857397-851594c6-b048-465d-8842-d48410cf3ad0.mp4

I’ll test the PR soon and probably approve it if it looks fine. But for the long run we should think of a move sustainable wa

[2022-11-24 20:13] ThibaultJanBeyer commented on #141
Hey @promoter0100 thanks for trying the tool! As @owenfar mentioned, did you have a look at the docs? There are plenty examples, did you get it working? If so, would you mind sharing a code example?

This is not the first question about "how to use it with Angular" I see. So I would love to have a written guide on it. Unfortunately, I have no clue about Angular myself, it’s not a framework I have

[2022-11-24 20:16] ThibaultJanBeyer commented on #134
Ideally would be nice to have a [guide for Angular as mentioned here](https://github.com/ThibaultJanBeyer/DragSelect/issues/141#issuecomment-1326811931). Without a code example, unfortunately, I can’t help. I’ll close it for now and have a look into Angular. Please provide a code example and feel free to re-open if you have one.

[2022-11-24 20:16] #134 closed

[2022-11-24 20:24] ThibaultJanBeyer commented on #105
Thanks @dosomder 🤗 , I just tested it in Firefox using [this pen](https://codepen.io/ThibaultJanBeyer/pen/Nvobgq) Firefox version 106.0.3 (64-bit) on MacOS and it works fine, the issue is not present. Would you mind sharing an example where the issue is still present along with the exact browser version you are using? Thank you!

[2022-11-24 21:04] dosomder commented on #105
You're right, it's works with your codepen. I am sorry for the report. I think the theme I used (Chakra) probably modifies the scrollbar somehow, because it looks a lot thiner and with round edges.

[2022-11-24 22:39] HollowMan6 commented on #150
Hi, thanks for replying! Yes, I've already added the fix on https://hollowman.ml/workspace-multiselect/ . The code in https://github.com/mit-cml/workspace-multiselect/tree/main still uses the unpatched one currently, you can manually clone and run that if you like.

Yeah, I agree. I think maybe a good way is to make a user-defined hook after calculating selection list available to developers like

[2022-11-25 08:29] ThibaultJanBeyer commented on #105
Would you mind still sharing a code example with that theme? Might be interesting to look at 👀

[2022-11-25 08:56] ThibaultJanBeyer commented on #150
Hi @HollowMan6 I think for the long run we might want to have a way to override internal workings by overwriting public methods if necessary but this will take longer to implement and needs more thinking.

Good news, we can achieve something similar already with subscriptions! 🎉
I am wondering if this would work for you:

[code]
- If this works well, I think adding `ds.getSelector`, `ds.getSelecto

[2022-11-25 19:50] HollowMan6 commented on #150
Hi, That won't work. I want to fine-tune what get selected in a single event (like a single click event), it's not something related to previous selection state. I mean, if the parent already got selected previously, we don't want to cancel the selection of that. What you proposed is not related to this.

[2022-11-28 11:43] owenfar commented on #125
Hello @ThibaultJanBeyer, I have tested this over the weekend, and it works fine for simple scenarios.

Did you notice that cursor and selector are misaligned when selectorArea is not set to viewport width & height?

As I could also see in the testing file `selector-area-overlap.html` you left out the child window from having a specific selectorArea, and perhaps this was intentional because you als